<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greatonce.oms.dao.message.MessageMapper">
  <resultMap id="resultMap" type="com.greatonce.oms.domain.message.Message">
    <id column="message_id" property="messageId"/>
    <result column="content" property="content"/>
    <result column="created_time" property="createdTime"/>
    <result column="expiration_time" property="expirationTime"/>
    <result column="is_read" property="read"/>
    <result column="message_type" property="messageType"/>
    <result column="modified_time" property="modifiedTime"/>
    <result column="url" property="url"/>
    <result column="user_id" property="userId"/>
  </resultMap>
  <sql id="columns">content,created_time,expiration_time,is_read,message_id,message_type,modified_time,url,user_id</sql>
  <sql id="pkWhere">
    WHERE message_id=#{_parameter}
  </sql>
  <sql id="equalWhere">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="content!=null and content!=''">
        AND content=#{content}
      </if>
      <if test="createdTime!=null">AND created_time=#{createdTime}</if>
      <if test="expirationTime!=null">AND expiration_time=#{expirationTime}</if>
      <if test="read!=null">AND is_read=#{read}</if>
      <if test="messageId!=null">AND message_id=#{messageId}</if>
      <if test="messageType!=null">AND message_type=#{messageType}</if>
      <if test="modifiedTime!=null">AND modified_time=#{modifiedTime}</if>
      <if test="url!=null and url!=''">
        AND url=#{url}
      </if>
      <if test="userId!=null">AND user_id=#{userId}</if>
    </trim>
  </sql>
  <sql id="where">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="content!=null and content!=''">
        AND content=#{content}
      </if>
      <if test="createdTimeBegin!=null">
        <![CDATA[AND created_time>=#{createdTimeBegin}]]>
      </if>
      <if test="createdTimeEnd!=null">
        <![CDATA[AND created_time<#{createdTimeEnd}]]>
      </if>
      <if test="expirationTimeBegin!=null">
        <![CDATA[AND expiration_time>=#{expirationTimeBegin}]]>
      </if>
      <if test="expirationTimeEnd!=null">
        <![CDATA[AND expiration_time<#{expirationTimeEnd}]]>
      </if>
      <if test="read!=null">AND is_read=#{read}</if>
      <if test="messageId!=null">AND message_id=#{messageId}</if>
      <if test="messageType!=null">AND message_type=#{messageType}</if>
      <if test="modifiedTimeBegin!=null">
        <![CDATA[AND modified_time>=#{modifiedTimeBegin}]]>
      </if>
      <if test="modifiedTimeEnd!=null">
        <![CDATA[AND modified_time<#{modifiedTimeEnd}]]>
      </if>
      <if test="url!=null and url!=''">
        AND url=#{url}
      </if>
      <if test="userId!=null">AND user_id=#{userId}</if>
    </trim>
  </sql>
  <sql id="orderBy">
    ORDER BY message_id DESC
  </sql>
  <insert id="insert" parameterType="com.greatonce.oms.domain.message.Message">
    INSERT INTO oms_message(content,created_time,expiration_time,is_read,message_id,message_type,modified_time,url,user_id)
    VALUES(
    <trim suffixOverrides=",">
      #{content},
      now(),
      #{expirationTime},
      #{read},
      #{messageId},
      #{messageType},
      now(),
      #{url},
      #{userId},
    </trim>
    )
  </insert>
  <update id="update" parameterType="com.greatonce.oms.domain.message.Message">
    UPDATE oms_message
    <trim prefix="SET" suffixOverrides=",">
      <if test="content!=null">content=#{content},</if>
      <if test="expirationTime!=null">expiration_time=#{expirationTime},</if>
      <if test="read!=null">is_read=#{read},</if>
      <if test="messageType!=null">message_type=#{messageType},</if>
      modified_time=now(),
      <if test="url!=null">url=#{url},</if>
      <if test="userId!=null">user_id=#{userId},</if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      AND message_id=#{messageId}
    </trim>
  </update>
  <update id="updateByExample" parameterType="com.greatonce.oms.domain.message.Message">
    UPDATE oms_message
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.content!=null">
        content=#{record.content},
      </if>
      <if test="record.expirationTime!=null">
        expiration_time=#{record.expirationTime},
      </if>
      <if test="record.read!=null">
        is_read=#{record.read},
      </if>
      <if test="record.messageType!=null">
        message_type=#{record.messageType},
      </if>
      modified_time=now(),
      <if test="record.url!=null">
        url=#{record.url},
      </if>
      <if test="record.userId!=null">
        user_id=#{record.userId},
      </if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="example.content!=null">
      AND content=#{example.content}
      </if>
      <if test="example.createdTime!=null">
      AND created_time=#{example.createdTime}
      </if>
      <if test="example.expirationTime!=null">
      AND expiration_time=#{example.expirationTime}
      </if>
      <if test="example.read!=null">
      AND is_read=#{example.read}
      </if>
      <if test="example.messageId!=null">
      AND message_id=#{example.messageId}
      </if>
      <if test="example.messageType!=null">
      AND message_type=#{example.messageType}
      </if>
      <if test="example.modifiedTime!=null">
      AND modified_time=#{example.modifiedTime}
      </if>
      <if test="example.url!=null">
      AND url=#{example.url}
      </if>
      <if test="example.userId!=null">
      AND user_id=#{example.userId}
      </if>
    </trim>
  </update>
  <delete id="delete">
    DELETE FROM oms_message
    <include refid="pkWhere"/>
  </delete>
  <delete id="deleteByExample">
    DELETE FROM oms_message
    <include refid="equalWhere"/>
  </delete>
  <select id="getByKey" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_message
    <include refid="pkWhere"/>
  </select>
  <select id="list" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_message
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPage" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_message
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_message
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_message
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_message
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_message
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
</mapper>
