<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greatonce.oms.dao.base.ExpressWmsMappingMapper">
  <resultMap id="resultMap" type="com.greatonce.oms.domain.base.ExpressWmsMapping">
    <id column="express_wms_mapping_id" property="expressWmsMappingId"/>
    <result column="created_time" property="createdTime"/>
    <result column="express_id" property="expressId"/>
    <result column="express_name" property="expressName"/>
    <result column="modified_time" property="modifiedTime"/>
    <result column="outer_code" property="outerCode"/>
    <result column="wms_app_id" property="wmsAppId"/>
    <result column="wms_app_name" property="wmsAppName"/>
  </resultMap>
  <sql id="columns">created_time,express_id,express_name,express_wms_mapping_id,modified_time,outer_code,wms_app_id,wms_app_name</sql>
  <sql id="pkWhere">
    WHERE express_wms_mapping_id=#{_parameter}
  </sql>
  <sql id="equalWhere">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="createdTime!=null">AND created_time=#{createdTime}</if>
      <if test="expressId!=null">AND express_id=#{expressId}</if>
      <if test="expressName!=null and expressName!=''">
        AND express_name=#{expressName}
      </if>
      <if test="expressWmsMappingId!=null">AND express_wms_mapping_id=#{expressWmsMappingId}</if>
      <if test="modifiedTime!=null">AND modified_time=#{modifiedTime}</if>
      <if test="outerCode!=null and outerCode!=''">
        AND outer_code=#{outerCode}
      </if>
      <if test="wmsAppId!=null">AND wms_app_id=#{wmsAppId}</if>
      <if test="wmsAppName!=null and wmsAppName!=''">
        AND wms_app_name=#{wmsAppName}
      </if>
    </trim>
  </sql>
  <sql id="where">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="createdTimeBegin!=null">
        <![CDATA[AND created_time>=#{createdTimeBegin}]]>
      </if>
      <if test="createdTimeEnd!=null">
        <![CDATA[AND created_time<#{createdTimeEnd}]]>
      </if>
      <if test="expressId!=null">AND express_id=#{expressId}</if>
      <if test="expressName!=null and expressName!=''">
        AND express_name=#{expressName}
      </if>
      <if test="expressWmsMappingId!=null">AND express_wms_mapping_id=#{expressWmsMappingId}</if>
      <if test="modifiedTimeBegin!=null">
        <![CDATA[AND modified_time>=#{modifiedTimeBegin}]]>
      </if>
      <if test="modifiedTimeEnd!=null">
        <![CDATA[AND modified_time<#{modifiedTimeEnd}]]>
      </if>
      <if test="outerCode!=null and outerCode!=''">
        AND outer_code=#{outerCode}
      </if>
      <if test="wmsAppId!=null">AND wms_app_id=#{wmsAppId}</if>
      <if test="wmsAppName!=null and wmsAppName!=''">
        AND wms_app_name=#{wmsAppName}
      </if>
    </trim>
  </sql>
  <sql id="orderBy">
    ORDER BY express_wms_mapping_id DESC
  </sql>
  <insert id="insert" parameterType="com.greatonce.oms.domain.base.ExpressWmsMapping">
    INSERT INTO oms_express_wms_mapping(created_time,express_id,express_name,express_wms_mapping_id,modified_time,outer_code,wms_app_id,wms_app_name)
    VALUES(
    <trim suffixOverrides=",">
      now(),
      #{expressId},
      #{expressName},
      #{expressWmsMappingId},
      now(),
      #{outerCode},
      #{wmsAppId},
      #{wmsAppName},
    </trim>
    )
  </insert>
  <update id="update" parameterType="com.greatonce.oms.domain.base.ExpressWmsMapping">
    UPDATE oms_express_wms_mapping
    <trim prefix="SET" suffixOverrides=",">
      <if test="expressId!=null">express_id=#{expressId},</if>
      <if test="expressName!=null">express_name=#{expressName},</if>
      modified_time=now(),
      <if test="outerCode!=null">outer_code=#{outerCode},</if>
      <if test="wmsAppId!=null">wms_app_id=#{wmsAppId},</if>
      <if test="wmsAppName!=null">wms_app_name=#{wmsAppName},</if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      AND express_wms_mapping_id=#{expressWmsMappingId}
    </trim>
  </update>
  <update id="updateByExample" parameterType="com.greatonce.oms.domain.base.ExpressWmsMapping">
    UPDATE oms_express_wms_mapping
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.expressId!=null">
        express_id=#{record.expressId},
      </if>
      <if test="record.expressName!=null">
        express_name=#{record.expressName},
      </if>
      modified_time=now(),
      <if test="record.outerCode!=null">
        outer_code=#{record.outerCode},
      </if>
      <if test="record.wmsAppId!=null">
        wms_app_id=#{record.wmsAppId},
      </if>
      <if test="record.wmsAppName!=null">
        wms_app_name=#{record.wmsAppName},
      </if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="example.createdTime!=null">
      AND created_time=#{example.createdTime}
      </if>
      <if test="example.expressId!=null">
      AND express_id=#{example.expressId}
      </if>
      <if test="example.expressName!=null">
      AND express_name=#{example.expressName}
      </if>
      <if test="example.expressWmsMappingId!=null">
      AND express_wms_mapping_id=#{example.expressWmsMappingId}
      </if>
      <if test="example.modifiedTime!=null">
      AND modified_time=#{example.modifiedTime}
      </if>
      <if test="example.outerCode!=null">
      AND outer_code=#{example.outerCode}
      </if>
      <if test="example.wmsAppId!=null">
      AND wms_app_id=#{example.wmsAppId}
      </if>
      <if test="example.wmsAppName!=null">
      AND wms_app_name=#{example.wmsAppName}
      </if>
    </trim>
  </update>
  <delete id="delete">
    DELETE FROM oms_express_wms_mapping
    <include refid="pkWhere"/>
  </delete>
  <delete id="deleteByExample">
    DELETE FROM oms_express_wms_mapping
    <include refid="equalWhere"/>
  </delete>
  <select id="getByKey" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_express_wms_mapping
    <include refid="pkWhere"/>
  </select>
  <select id="list" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_express_wms_mapping
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPage" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_express_wms_mapping
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_express_wms_mapping
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_express_wms_mapping
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_express_wms_mapping
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_express_wms_mapping
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
</mapper>
