<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greatonce.oms.dao.base.ExpressRegionMapper">
  <resultMap id="resultMap" type="com.greatonce.oms.domain.base.ExpressRegion">
    <id column="express_region_id" property="expressRegionId"/>
    <result column="created_time" property="createdTime"/>
    <result column="express_id" property="expressId"/>
    <result column="express_name" property="expressName"/>
    <result column="is_keyword_arrive" property="keywordArrive"/>
    <result column="keyword" property="keyword"/>
    <result column="level" property="level"/>
    <result column="modified_time" property="modifiedTime"/>
    <result column="rally_point_code" property="rallyPointCode"/>
    <result column="rally_point_name" property="rallyPointName"/>
    <result column="region_id" property="regionId"/>
    <result column="region_name" property="regionName"/>
  </resultMap>
  <sql id="columns">created_time,express_id,express_name,express_region_id,is_keyword_arrive,keyword,level,modified_time,rally_point_code,rally_point_name,region_id,region_name</sql>
  <sql id="pkWhere">
    WHERE express_region_id=#{_parameter}
  </sql>
  <sql id="equalWhere">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="createdTime!=null">AND created_time=#{createdTime}</if>
      <if test="expressId!=null">AND express_id=#{expressId}</if>
      <if test="expressName!=null and expressName!=''">
        AND express_name=#{expressName}
      </if>
      <if test="expressRegionId!=null">AND express_region_id=#{expressRegionId}</if>
      <if test="keywordArrive!=null">AND is_keyword_arrive=#{keywordArrive}</if>
      <if test="keyword!=null and keyword!=''">
        AND keyword=#{keyword}
      </if>
      <if test="level!=null">AND level=#{level}</if>
      <if test="modifiedTime!=null">AND modified_time=#{modifiedTime}</if>
      <if test="rallyPointCode!=null and rallyPointCode!=''">
        AND rally_point_code=#{rallyPointCode}
      </if>
      <if test="rallyPointName!=null and rallyPointName!=''">
        AND rally_point_name=#{rallyPointName}
      </if>
      <if test="regionId!=null">AND region_id=#{regionId}</if>
      <if test="regionName!=null and regionName!=''">
        AND region_name=#{regionName}
      </if>
    </trim>
  </sql>
  <sql id="where">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="createdTimeBegin!=null">
        <![CDATA[AND created_time>=#{createdTimeBegin}]]>
      </if>
      <if test="createdTimeEnd!=null">
        <![CDATA[AND created_time<#{createdTimeEnd}]]>
      </if>
      <if test="expressId!=null">AND express_id=#{expressId}</if>
      <if test="expressName!=null and expressName!=''">
        AND express_name=#{expressName}
      </if>
      <if test="expressRegionId!=null">AND express_region_id=#{expressRegionId}</if>
      <if test="keywordArrive!=null">AND is_keyword_arrive=#{keywordArrive}</if>
      <if test="keyword!=null and keyword!=''">
        AND keyword=#{keyword}
      </if>
      <if test="level!=null">AND level=#{level}</if>
      <if test="modifiedTimeBegin!=null">
        <![CDATA[AND modified_time>=#{modifiedTimeBegin}]]>
      </if>
      <if test="modifiedTimeEnd!=null">
        <![CDATA[AND modified_time<#{modifiedTimeEnd}]]>
      </if>
      <if test="rallyPointCode!=null and rallyPointCode!=''">
        AND rally_point_code=#{rallyPointCode}
      </if>
      <if test="rallyPointName!=null and rallyPointName!=''">
        AND rally_point_name=#{rallyPointName}
      </if>
      <if test="regionId!=null">AND region_id=#{regionId}</if>
      <if test="regionName!=null and regionName!=''">
        AND region_name=#{regionName}
      </if>
    </trim>
  </sql>
  <sql id="orderBy">
    ORDER BY express_region_id DESC
  </sql>
  <insert id="insert" parameterType="com.greatonce.oms.domain.base.ExpressRegion">
    INSERT INTO oms_express_region(created_time,express_id,express_name,express_region_id,is_keyword_arrive,keyword,level,modified_time,rally_point_code,rally_point_name,region_id,region_name)
    VALUES(
    <trim suffixOverrides=",">
      now(),
      #{expressId},
      #{expressName},
      #{expressRegionId},
      #{keywordArrive},
      #{keyword},
      #{level},
      now(),
      #{rallyPointCode},
      #{rallyPointName},
      #{regionId},
      #{regionName},
    </trim>
    )
  </insert>
  <update id="update" parameterType="com.greatonce.oms.domain.base.ExpressRegion">
    UPDATE oms_express_region
    <trim prefix="SET" suffixOverrides=",">
      <if test="expressId!=null">express_id=#{expressId},</if>
      <if test="expressName!=null">express_name=#{expressName},</if>
      <if test="keywordArrive!=null">is_keyword_arrive=#{keywordArrive},</if>
      <if test="keyword!=null">keyword=#{keyword},</if>
      <if test="level!=null">level=#{level},</if>
      modified_time=now(),
      <if test="rallyPointCode!=null">rally_point_code=#{rallyPointCode},</if>
      <if test="rallyPointName!=null">rally_point_name=#{rallyPointName},</if>
      <if test="regionId!=null">region_id=#{regionId},</if>
      <if test="regionName!=null">region_name=#{regionName},</if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      AND express_region_id=#{expressRegionId}
    </trim>
  </update>
  <update id="updateByExample" parameterType="com.greatonce.oms.domain.base.ExpressRegion">
    UPDATE oms_express_region
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.expressId!=null">
        express_id=#{record.expressId},
      </if>
      <if test="record.expressName!=null">
        express_name=#{record.expressName},
      </if>
      <if test="record.keywordArrive!=null">
        is_keyword_arrive=#{record.keywordArrive},
      </if>
      <if test="record.keyword!=null">
        keyword=#{record.keyword},
      </if>
      <if test="record.level!=null">
        level=#{record.level},
      </if>
      modified_time=now(),
      <if test="record.rallyPointCode!=null">
        rally_point_code=#{record.rallyPointCode},
      </if>
      <if test="record.rallyPointName!=null">
        rally_point_name=#{record.rallyPointName},
      </if>
      <if test="record.regionId!=null">
        region_id=#{record.regionId},
      </if>
      <if test="record.regionName!=null">
        region_name=#{record.regionName},
      </if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="example.createdTime!=null">
      AND created_time=#{example.createdTime}
      </if>
      <if test="example.expressId!=null">
      AND express_id=#{example.expressId}
      </if>
      <if test="example.expressName!=null">
      AND express_name=#{example.expressName}
      </if>
      <if test="example.expressRegionId!=null">
      AND express_region_id=#{example.expressRegionId}
      </if>
      <if test="example.keywordArrive!=null">
      AND is_keyword_arrive=#{example.keywordArrive}
      </if>
      <if test="example.keyword!=null">
      AND keyword=#{example.keyword}
      </if>
      <if test="example.level!=null">
      AND level=#{example.level}
      </if>
      <if test="example.modifiedTime!=null">
      AND modified_time=#{example.modifiedTime}
      </if>
      <if test="example.rallyPointCode!=null">
      AND rally_point_code=#{example.rallyPointCode}
      </if>
      <if test="example.rallyPointName!=null">
      AND rally_point_name=#{example.rallyPointName}
      </if>
      <if test="example.regionId!=null">
      AND region_id=#{example.regionId}
      </if>
      <if test="example.regionName!=null">
      AND region_name=#{example.regionName}
      </if>
    </trim>
  </update>
  <delete id="delete">
    DELETE FROM oms_express_region
    <include refid="pkWhere"/>
  </delete>
  <delete id="deleteByExample">
    DELETE FROM oms_express_region
    <include refid="equalWhere"/>
  </delete>
  <select id="getByKey" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_express_region
    <include refid="pkWhere"/>
  </select>
  <select id="list" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_express_region
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPage" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_express_region
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_express_region
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_express_region
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_express_region
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_express_region
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
</mapper>
