<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greatonce.oms.dao.base.SmsStoreTemplateMapper">
  <resultMap id="resultMap" type="com.greatonce.oms.domain.base.SmsStoreTemplate">
    <id column="sms_store_template_id" property="smsStoreTemplateId"/>
    <result column="created_time" property="createdTime"/>
    <result column="modified_time" property="modifiedTime"/>
    <result column="sms_template_id" property="smsTemplateId"/>
    <result column="store_id" property="storeId"/>
    <result column="store_name" property="storeName"/>
  </resultMap>
  <sql id="columns">created_time,modified_time,sms_store_template_id,sms_template_id,store_id,store_name</sql>
  <sql id="pkWhere">
    WHERE sms_store_template_id=#{_parameter}
  </sql>
  <sql id="equalWhere">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="createdTime!=null">AND created_time=#{createdTime}</if>
      <if test="modifiedTime!=null">AND modified_time=#{modifiedTime}</if>
      <if test="smsStoreTemplateId!=null">AND sms_store_template_id=#{smsStoreTemplateId}</if>
      <if test="smsTemplateId!=null">AND sms_template_id=#{smsTemplateId}</if>
      <if test="storeId!=null">AND store_id=#{storeId}</if>
      <if test="storeName!=null and storeName!=''">
        AND store_name=#{storeName}
      </if>
    </trim>
  </sql>
  <sql id="where">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="createdTimeBegin!=null">
        <![CDATA[AND created_time>=#{createdTimeBegin}]]>
      </if>
      <if test="createdTimeEnd!=null">
        <![CDATA[AND created_time<#{createdTimeEnd}]]>
      </if>
      <if test="modifiedTimeBegin!=null">
        <![CDATA[AND modified_time>=#{modifiedTimeBegin}]]>
      </if>
      <if test="modifiedTimeEnd!=null">
        <![CDATA[AND modified_time<#{modifiedTimeEnd}]]>
      </if>
      <if test="smsStoreTemplateId!=null">AND sms_store_template_id=#{smsStoreTemplateId}</if>
      <if test="smsTemplateId!=null">AND sms_template_id=#{smsTemplateId}</if>
      <if test="storeId!=null">AND store_id=#{storeId}</if>
      <if test="storeName!=null and storeName!=''">
        AND store_name=#{storeName}
      </if>
    </trim>
  </sql>
  <sql id="orderBy">
    ORDER BY sms_store_template_id DESC
  </sql>
  <insert id="insert" parameterType="com.greatonce.oms.domain.base.SmsStoreTemplate">
    INSERT INTO oms_sms_store_template(created_time,modified_time,sms_store_template_id,sms_template_id,store_id,store_name)
    VALUES(
    <trim suffixOverrides=",">
      now(),
      now(),
      #{smsStoreTemplateId},
      #{smsTemplateId},
      #{storeId},
      #{storeName},
    </trim>
    )
  </insert>
  <update id="update" parameterType="com.greatonce.oms.domain.base.SmsStoreTemplate">
    UPDATE oms_sms_store_template
    <trim prefix="SET" suffixOverrides=",">
      modified_time=now(),
      <if test="smsTemplateId!=null">sms_template_id=#{smsTemplateId},</if>
      <if test="storeId!=null">store_id=#{storeId},</if>
      <if test="storeName!=null">store_name=#{storeName},</if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      AND sms_store_template_id=#{smsStoreTemplateId}
    </trim>
  </update>
  <update id="updateByExample" parameterType="com.greatonce.oms.domain.base.SmsStoreTemplate">
    UPDATE oms_sms_store_template
    <trim prefix="SET" suffixOverrides=",">
      modified_time=now(),
      <if test="record.smsTemplateId!=null">
        sms_template_id=#{record.smsTemplateId},
      </if>
      <if test="record.storeId!=null">
        store_id=#{record.storeId},
      </if>
      <if test="record.storeName!=null">
        store_name=#{record.storeName},
      </if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="example.createdTime!=null">
      AND created_time=#{example.createdTime}
      </if>
      <if test="example.modifiedTime!=null">
      AND modified_time=#{example.modifiedTime}
      </if>
      <if test="example.smsStoreTemplateId!=null">
      AND sms_store_template_id=#{example.smsStoreTemplateId}
      </if>
      <if test="example.smsTemplateId!=null">
      AND sms_template_id=#{example.smsTemplateId}
      </if>
      <if test="example.storeId!=null">
      AND store_id=#{example.storeId}
      </if>
      <if test="example.storeName!=null">
      AND store_name=#{example.storeName}
      </if>
    </trim>
  </update>
  <delete id="delete">
    DELETE FROM oms_sms_store_template
    <include refid="pkWhere"/>
  </delete>
  <delete id="deleteByExample">
    DELETE FROM oms_sms_store_template
    <include refid="equalWhere"/>
  </delete>
  <select id="getByKey" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_sms_store_template
    <include refid="pkWhere"/>
  </select>
  <select id="list" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_sms_store_template
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPage" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_sms_store_template
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_sms_store_template
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_sms_store_template
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_sms_store_template
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_sms_store_template
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
</mapper>
