<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greatonce.oms.dao.admin.OrganizationMapper">
  <resultMap id="resultMap" type="com.greatonce.oms.domain.admin.Organization">
    <id column="organization_id" property="organizationId"/>
    <result column="created_time" property="createdTime"/>
    <result column="domain" property="domain"/>
    <result column="email" property="email"/>
    <result column="expire_date" property="expireDate"/>
    <result column="modified_time" property="modifiedTime"/>
    <result column="online_date" property="onlineDate"/>
    <result column="organization_name" property="organizationName"/>
    <result column="status" property="status"/>
  </resultMap>
  <sql id="columns">created_time,domain,email,expire_date,modified_time,online_date,organization_id,organization_name,status</sql>
  <sql id="pkWhere">
    WHERE organization_id=#{_parameter}
  </sql>
  <sql id="equalWhere">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="createdTime!=null">AND created_time=#{createdTime}</if>
      <if test="domain!=null and domain!=''">
        AND domain=#{domain}
      </if>
      <if test="email!=null and email!=''">
        AND email=#{email}
      </if>
      <if test="expireDate!=null">AND expire_date=#{expireDate}</if>
      <if test="modifiedTime!=null">AND modified_time=#{modifiedTime}</if>
      <if test="onlineDate!=null">AND online_date=#{onlineDate}</if>
      <if test="organizationId!=null">AND organization_id=#{organizationId}</if>
      <if test="organizationName!=null and organizationName!=''">
        AND organization_name=#{organizationName}
      </if>
      <if test="status!=null">AND status=#{status}</if>
    </trim>
  </sql>
  <sql id="where">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="createdTimeBegin!=null">
        <![CDATA[AND created_time>=#{createdTimeBegin}]]>
      </if>
      <if test="createdTimeEnd!=null">
        <![CDATA[AND created_time<#{createdTimeEnd}]]>
      </if>
      <if test="domain!=null and domain!=''">
        AND domain=#{domain}
      </if>
      <if test="email!=null and email!=''">
        AND email=#{email}
      </if>
      <if test="expireDateBegin!=null">
        <![CDATA[AND expire_date>=#{expireDateBegin}]]>
      </if>
      <if test="expireDateEnd!=null">
        <![CDATA[AND expire_date<#{expireDateEnd}]]>
      </if>
      <if test="modifiedTimeBegin!=null">
        <![CDATA[AND modified_time>=#{modifiedTimeBegin}]]>
      </if>
      <if test="modifiedTimeEnd!=null">
        <![CDATA[AND modified_time<#{modifiedTimeEnd}]]>
      </if>
      <if test="onlineDateBegin!=null">
        <![CDATA[AND online_date>=#{onlineDateBegin}]]>
      </if>
      <if test="onlineDateEnd!=null">
        <![CDATA[AND online_date<#{onlineDateEnd}]]>
      </if>
      <if test="organizationId!=null">AND organization_id=#{organizationId}</if>
      <if test="organizationName!=null and organizationName!=''">
        AND organization_name=#{organizationName}
      </if>
      <if test="status!=null">AND status=#{status}</if>
    </trim>
  </sql>
  <sql id="orderBy">
    ORDER BY organization_id DESC
  </sql>
  <insert id="insert" parameterType="com.greatonce.oms.domain.admin.Organization">
    INSERT INTO admin_organization(created_time,domain,email,expire_date,modified_time,online_date,organization_id,organization_name,status)
    VALUES(
    <trim suffixOverrides=",">
      now(),
      #{domain},
      #{email},
      #{expireDate},
      now(),
      #{onlineDate},
      #{organizationId},
      #{organizationName},
      #{status},
    </trim>
    )
  </insert>
  <update id="update" parameterType="com.greatonce.oms.domain.admin.Organization">
    UPDATE admin_organization
    <trim prefix="SET" suffixOverrides=",">
      <if test="domain!=null">domain=#{domain},</if>
      <if test="email!=null">email=#{email},</if>
      <if test="expireDate!=null">expire_date=#{expireDate},</if>
      modified_time=now(),
      <if test="onlineDate!=null">online_date=#{onlineDate},</if>
      <if test="organizationName!=null">organization_name=#{organizationName},</if>
      <if test="status!=null">status=#{status},</if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      AND organization_id=#{organizationId}
    </trim>
  </update>
  <update id="updateByExample" parameterType="com.greatonce.oms.domain.admin.Organization">
    UPDATE admin_organization
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.domain!=null">
        domain=#{record.domain},
      </if>
      <if test="record.email!=null">
        email=#{record.email},
      </if>
      <if test="record.expireDate!=null">
        expire_date=#{record.expireDate},
      </if>
      modified_time=now(),
      <if test="record.onlineDate!=null">
        online_date=#{record.onlineDate},
      </if>
      <if test="record.organizationName!=null">
        organization_name=#{record.organizationName},
      </if>
      <if test="record.status!=null">
        status=#{record.status},
      </if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="example.createdTime!=null">
      AND created_time=#{example.createdTime}
      </if>
      <if test="example.domain!=null">
      AND domain=#{example.domain}
      </if>
      <if test="example.email!=null">
      AND email=#{example.email}
      </if>
      <if test="example.expireDate!=null">
      AND expire_date=#{example.expireDate}
      </if>
      <if test="example.modifiedTime!=null">
      AND modified_time=#{example.modifiedTime}
      </if>
      <if test="example.onlineDate!=null">
      AND online_date=#{example.onlineDate}
      </if>
      <if test="example.organizationId!=null">
      AND organization_id=#{example.organizationId}
      </if>
      <if test="example.organizationName!=null">
      AND organization_name=#{example.organizationName}
      </if>
      <if test="example.status!=null">
      AND status=#{example.status}
      </if>
    </trim>
  </update>
  <delete id="delete">
    DELETE FROM admin_organization
    <include refid="pkWhere"/>
  </delete>
  <delete id="deleteByExample">
    DELETE FROM admin_organization
    <include refid="equalWhere"/>
  </delete>
  <select id="getByKey" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM admin_organization
    <include refid="pkWhere"/>
  </select>
  <select id="list" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM admin_organization
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPage" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM admin_organization
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM admin_organization
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM admin_organization
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM admin_organization
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM admin_organization
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
</mapper>
