<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greatonce.oms.dao.admin.WmsAppMapper">
  <resultMap id="resultMap" type="com.greatonce.oms.domain.admin.WmsApp">
    <id column="wms_app_id" property="wmsAppId"/>
    <result column="app_key" property="appKey"/>
    <result column="app_secret" property="appSecret"/>
    <result column="created_time" property="createdTime"/>
    <result column="customer_id" property="customerId"/>
    <result column="is_enable" property="enable"/>
    <result column="modified_time" property="modifiedTime"/>
    <result column="service_url" property="serviceUrl"/>
    <result column="tag" property="tag"/>
    <result column="wms_app_name" property="wmsAppName"/>
    <result column="wms_type" property="wmsType"/>
  </resultMap>
  <sql id="columns">app_key,app_secret,created_time,customer_id,is_enable,modified_time,service_url,tag,wms_app_id,wms_app_name,wms_type</sql>
  <sql id="pkWhere">
    WHERE wms_app_id=#{_parameter}
  </sql>
  <sql id="equalWhere">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="appKey!=null and appKey!=''">
        AND app_key=#{appKey}
      </if>
      <if test="appSecret!=null and appSecret!=''">
        AND app_secret=#{appSecret}
      </if>
      <if test="createdTime!=null">AND created_time=#{createdTime}</if>
      <if test="customerId!=null and customerId!=''">
        AND customer_id=#{customerId}
      </if>
      <if test="enable!=null">AND is_enable=#{enable}</if>
      <if test="modifiedTime!=null">AND modified_time=#{modifiedTime}</if>
      <if test="serviceUrl!=null and serviceUrl!=''">
        AND service_url=#{serviceUrl}
      </if>
      <if test="tag!=null and tag!=''">
        AND tag=#{tag}
      </if>
      <if test="wmsAppId!=null">AND wms_app_id=#{wmsAppId}</if>
      <if test="wmsAppName!=null and wmsAppName!=''">
        AND wms_app_name=#{wmsAppName}
      </if>
      <if test="wmsType!=null">AND wms_type=#{wmsType}</if>
    </trim>
  </sql>
  <sql id="where">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="appKey!=null and appKey!=''">
        AND app_key=#{appKey}
      </if>
      <if test="appSecret!=null and appSecret!=''">
        AND app_secret=#{appSecret}
      </if>
      <if test="createdTimeBegin!=null">
        <![CDATA[AND created_time>=#{createdTimeBegin}]]>
      </if>
      <if test="createdTimeEnd!=null">
        <![CDATA[AND created_time<#{createdTimeEnd}]]>
      </if>
      <if test="customerId!=null and customerId!=''">
        AND customer_id=#{customerId}
      </if>
      <if test="enable!=null">AND is_enable=#{enable}</if>
      <if test="modifiedTimeBegin!=null">
        <![CDATA[AND modified_time>=#{modifiedTimeBegin}]]>
      </if>
      <if test="modifiedTimeEnd!=null">
        <![CDATA[AND modified_time<#{modifiedTimeEnd}]]>
      </if>
      <if test="serviceUrl!=null and serviceUrl!=''">
        AND service_url=#{serviceUrl}
      </if>
      <if test="tag!=null and tag!=''">
        AND tag=#{tag}
      </if>
      <if test="wmsAppId!=null">AND wms_app_id=#{wmsAppId}</if>
      <if test="wmsAppName!=null and wmsAppName!=''">
        AND wms_app_name=#{wmsAppName}
      </if>
      <if test="wmsType!=null">AND wms_type=#{wmsType}</if>
    </trim>
  </sql>
  <sql id="orderBy">
    ORDER BY wms_app_id DESC
  </sql>
  <insert id="insert" parameterType="com.greatonce.oms.domain.admin.WmsApp">
    INSERT INTO admin_wms_app(app_key,app_secret,created_time,customer_id,is_enable,modified_time,service_url,tag,wms_app_id,wms_app_name,wms_type)
    VALUES(
    <trim suffixOverrides=",">
      #{appKey},
      #{appSecret},
      now(),
      #{customerId},
      #{enable},
      now(),
      #{serviceUrl},
      #{tag},
      #{wmsAppId},
      #{wmsAppName},
      #{wmsType},
    </trim>
    )
  </insert>
  <update id="update" parameterType="com.greatonce.oms.domain.admin.WmsApp">
    UPDATE admin_wms_app
    <trim prefix="SET" suffixOverrides=",">
      <if test="appKey!=null">app_key=#{appKey},</if>
      <if test="appSecret!=null">app_secret=#{appSecret},</if>
      <if test="customerId!=null">customer_id=#{customerId},</if>
      <if test="enable!=null">is_enable=#{enable},</if>
      modified_time=now(),
      <if test="serviceUrl!=null">service_url=#{serviceUrl},</if>
      <if test="tag!=null">tag=#{tag},</if>
      <if test="wmsAppName!=null">wms_app_name=#{wmsAppName},</if>
      <if test="wmsType!=null">wms_type=#{wmsType},</if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      AND wms_app_id=#{wmsAppId}
    </trim>
  </update>
  <update id="updateByExample" parameterType="com.greatonce.oms.domain.admin.WmsApp">
    UPDATE admin_wms_app
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.appKey!=null">
        app_key=#{record.appKey},
      </if>
      <if test="record.appSecret!=null">
        app_secret=#{record.appSecret},
      </if>
      <if test="record.customerId!=null">
        customer_id=#{record.customerId},
      </if>
      <if test="record.enable!=null">
        is_enable=#{record.enable},
      </if>
      modified_time=now(),
      <if test="record.serviceUrl!=null">
        service_url=#{record.serviceUrl},
      </if>
      <if test="record.tag!=null">
        tag=#{record.tag},
      </if>
      <if test="record.wmsAppName!=null">
        wms_app_name=#{record.wmsAppName},
      </if>
      <if test="record.wmsType!=null">
        wms_type=#{record.wmsType},
      </if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="example.appKey!=null">
      AND app_key=#{example.appKey}
      </if>
      <if test="example.appSecret!=null">
      AND app_secret=#{example.appSecret}
      </if>
      <if test="example.createdTime!=null">
      AND created_time=#{example.createdTime}
      </if>
      <if test="example.customerId!=null">
      AND customer_id=#{example.customerId}
      </if>
      <if test="example.enable!=null">
      AND is_enable=#{example.enable}
      </if>
      <if test="example.modifiedTime!=null">
      AND modified_time=#{example.modifiedTime}
      </if>
      <if test="example.serviceUrl!=null">
      AND service_url=#{example.serviceUrl}
      </if>
      <if test="example.tag!=null">
      AND tag=#{example.tag}
      </if>
      <if test="example.wmsAppId!=null">
      AND wms_app_id=#{example.wmsAppId}
      </if>
      <if test="example.wmsAppName!=null">
      AND wms_app_name=#{example.wmsAppName}
      </if>
      <if test="example.wmsType!=null">
      AND wms_type=#{example.wmsType}
      </if>
    </trim>
  </update>
  <delete id="delete">
    DELETE FROM admin_wms_app
    <include refid="pkWhere"/>
  </delete>
  <delete id="deleteByExample">
    DELETE FROM admin_wms_app
    <include refid="equalWhere"/>
  </delete>
  <select id="getByKey" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM admin_wms_app
    <include refid="pkWhere"/>
  </select>
  <select id="list" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM admin_wms_app
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPage" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM admin_wms_app
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM admin_wms_app
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM admin_wms_app
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM admin_wms_app
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM admin_wms_app
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
</mapper>
