<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greatonce.oms.dao.marketing.GiftStrategyRuleMapper">
  <resultMap id="resultMap" type="com.greatonce.oms.domain.marketing.GiftStrategyRule">
    <id column="gift_strategy_rule_id" property="giftStrategyRuleId"/>
    <result column="created_time" property="createdTime"/>
    <result column="gift_strategy_id" property="giftStrategyId"/>
    <result column="gift_strategy_rule_name" property="giftStrategyRuleName"/>
    <result column="modified_time" property="modifiedTime"/>
    <result column="priority_no" property="priorityNo"/>
    <result column="rule_setting" property="ruleSetting"/>
    <result column="rule_type" property="ruleType"/>
  </resultMap>
  <sql id="columns">created_time,gift_strategy_id,gift_strategy_rule_id,gift_strategy_rule_name,modified_time,priority_no,rule_setting,rule_type</sql>
  <sql id="pkWhere">
    WHERE gift_strategy_rule_id=#{_parameter}
  </sql>
  <sql id="equalWhere">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="createdTime!=null">AND created_time=#{createdTime}</if>
      <if test="giftStrategyId!=null">AND gift_strategy_id=#{giftStrategyId}</if>
      <if test="giftStrategyRuleId!=null">AND gift_strategy_rule_id=#{giftStrategyRuleId}</if>
      <if test="giftStrategyRuleName!=null and giftStrategyRuleName!=''">
        AND gift_strategy_rule_name=#{giftStrategyRuleName}
      </if>
      <if test="modifiedTime!=null">AND modified_time=#{modifiedTime}</if>
      <if test="priorityNo!=null">AND priority_no=#{priorityNo}</if>
      <if test="ruleSetting!=null and ruleSetting!=''">
        AND rule_setting=#{ruleSetting}
      </if>
      <if test="ruleType!=null">AND rule_type=#{ruleType}</if>
    </trim>
  </sql>
  <sql id="where">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="createdTimeBegin!=null">
        <![CDATA[AND created_time>=#{createdTimeBegin}]]>
      </if>
      <if test="createdTimeEnd!=null">
        <![CDATA[AND created_time<#{createdTimeEnd}]]>
      </if>
      <if test="giftStrategyId!=null">AND gift_strategy_id=#{giftStrategyId}</if>
      <if test="giftStrategyRuleId!=null">AND gift_strategy_rule_id=#{giftStrategyRuleId}</if>
      <if test="giftStrategyRuleName!=null and giftStrategyRuleName!=''">
        AND gift_strategy_rule_name=#{giftStrategyRuleName}
      </if>
      <if test="modifiedTimeBegin!=null">
        <![CDATA[AND modified_time>=#{modifiedTimeBegin}]]>
      </if>
      <if test="modifiedTimeEnd!=null">
        <![CDATA[AND modified_time<#{modifiedTimeEnd}]]>
      </if>
      <if test="priorityNo!=null">AND priority_no=#{priorityNo}</if>
      <if test="ruleSetting!=null and ruleSetting!=''">
        AND rule_setting=#{ruleSetting}
      </if>
      <if test="ruleType!=null">AND rule_type=#{ruleType}</if>
    </trim>
  </sql>
  <sql id="orderBy">
    ORDER BY gift_strategy_rule_id DESC
  </sql>
  <insert id="insert" parameterType="com.greatonce.oms.domain.marketing.GiftStrategyRule">
    INSERT INTO oms_gift_strategy_rule(created_time,gift_strategy_id,gift_strategy_rule_id,gift_strategy_rule_name,modified_time,priority_no,rule_setting,rule_type)
    VALUES(
    <trim suffixOverrides=",">
      now(),
      #{giftStrategyId},
      #{giftStrategyRuleId},
      #{giftStrategyRuleName},
      now(),
      #{priorityNo},
      #{ruleSetting},
      #{ruleType},
    </trim>
    )
  </insert>
  <update id="update" parameterType="com.greatonce.oms.domain.marketing.GiftStrategyRule">
    UPDATE oms_gift_strategy_rule
    <trim prefix="SET" suffixOverrides=",">
      <if test="giftStrategyId!=null">gift_strategy_id=#{giftStrategyId},</if>
      <if test="giftStrategyRuleName!=null">gift_strategy_rule_name=#{giftStrategyRuleName},</if>
      modified_time=now(),
      <if test="priorityNo!=null">priority_no=#{priorityNo},</if>
      <if test="ruleSetting!=null">rule_setting=#{ruleSetting},</if>
      <if test="ruleType!=null">rule_type=#{ruleType},</if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      AND gift_strategy_rule_id=#{giftStrategyRuleId}
    </trim>
  </update>
  <update id="updateByExample" parameterType="com.greatonce.oms.domain.marketing.GiftStrategyRule">
    UPDATE oms_gift_strategy_rule
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.giftStrategyId!=null">
        gift_strategy_id=#{record.giftStrategyId},
      </if>
      <if test="record.giftStrategyRuleName!=null">
        gift_strategy_rule_name=#{record.giftStrategyRuleName},
      </if>
      modified_time=now(),
      <if test="record.priorityNo!=null">
        priority_no=#{record.priorityNo},
      </if>
      <if test="record.ruleSetting!=null">
        rule_setting=#{record.ruleSetting},
      </if>
      <if test="record.ruleType!=null">
        rule_type=#{record.ruleType},
      </if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="example.createdTime!=null">
      AND created_time=#{example.createdTime}
      </if>
      <if test="example.giftStrategyId!=null">
      AND gift_strategy_id=#{example.giftStrategyId}
      </if>
      <if test="example.giftStrategyRuleId!=null">
      AND gift_strategy_rule_id=#{example.giftStrategyRuleId}
      </if>
      <if test="example.giftStrategyRuleName!=null">
      AND gift_strategy_rule_name=#{example.giftStrategyRuleName}
      </if>
      <if test="example.modifiedTime!=null">
      AND modified_time=#{example.modifiedTime}
      </if>
      <if test="example.priorityNo!=null">
      AND priority_no=#{example.priorityNo}
      </if>
      <if test="example.ruleSetting!=null">
      AND rule_setting=#{example.ruleSetting}
      </if>
      <if test="example.ruleType!=null">
      AND rule_type=#{example.ruleType}
      </if>
    </trim>
  </update>
  <delete id="delete">
    DELETE FROM oms_gift_strategy_rule
    <include refid="pkWhere"/>
  </delete>
  <delete id="deleteByExample">
    DELETE FROM oms_gift_strategy_rule
    <include refid="equalWhere"/>
  </delete>
  <select id="getByKey" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_gift_strategy_rule
    <include refid="pkWhere"/>
  </select>
  <select id="list" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_gift_strategy_rule
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPage" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_gift_strategy_rule
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_gift_strategy_rule
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_gift_strategy_rule
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_gift_strategy_rule
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_gift_strategy_rule
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
</mapper>
