<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greatonce.oms.dao.marketing.GiftStrategyProductMapper">
  <resultMap id="resultMap" type="com.greatonce.oms.domain.marketing.GiftStrategyProduct">
    <id column="gift_strategy_product_id" property="giftStrategyProductId"/>
    <result column="created_time" property="createdTime"/>
    <result column="gift_strategy_rule_id" property="giftStrategyRuleId"/>
    <result column="is_combination" property="combination"/>
    <result column="modified_time" property="modifiedTime"/>
    <result column="product_code" property="productCode"/>
    <result column="product_id" property="productId"/>
    <result column="product_name" property="productName"/>
    <result column="quantity" property="quantity"/>
    <result column="sku_code" property="skuCode"/>
    <result column="sku_id" property="skuId"/>
    <result column="sku_name" property="skuName"/>
  </resultMap>
  <sql id="columns">created_time,gift_strategy_product_id,gift_strategy_rule_id,is_combination,modified_time,product_code,product_id,product_name,quantity,sku_code,sku_id,sku_name</sql>
  <sql id="pkWhere">
    WHERE gift_strategy_product_id=#{_parameter}
  </sql>
  <sql id="equalWhere">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="createdTime!=null">AND created_time=#{createdTime}</if>
      <if test="giftStrategyProductId!=null">AND gift_strategy_product_id=#{giftStrategyProductId}</if>
      <if test="giftStrategyRuleId!=null">AND gift_strategy_rule_id=#{giftStrategyRuleId}</if>
      <if test="combination!=null">AND is_combination=#{combination}</if>
      <if test="modifiedTime!=null">AND modified_time=#{modifiedTime}</if>
      <if test="productCode!=null and productCode!=''">
        AND product_code=#{productCode}
      </if>
      <if test="productId!=null">AND product_id=#{productId}</if>
      <if test="productName!=null and productName!=''">
        AND product_name=#{productName}
      </if>
      <if test="quantity!=null">AND quantity=#{quantity}</if>
      <if test="skuCode!=null and skuCode!=''">
        AND sku_code=#{skuCode}
      </if>
      <if test="skuId!=null">AND sku_id=#{skuId}</if>
      <if test="skuName!=null and skuName!=''">
        AND sku_name=#{skuName}
      </if>
    </trim>
  </sql>
  <sql id="where">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="createdTimeBegin!=null">
        <![CDATA[AND created_time>=#{createdTimeBegin}]]>
      </if>
      <if test="createdTimeEnd!=null">
        <![CDATA[AND created_time<#{createdTimeEnd}]]>
      </if>
      <if test="giftStrategyProductId!=null">AND gift_strategy_product_id=#{giftStrategyProductId}</if>
      <if test="giftStrategyRuleId!=null">AND gift_strategy_rule_id=#{giftStrategyRuleId}</if>
      <if test="combination!=null">AND is_combination=#{combination}</if>
      <if test="modifiedTimeBegin!=null">
        <![CDATA[AND modified_time>=#{modifiedTimeBegin}]]>
      </if>
      <if test="modifiedTimeEnd!=null">
        <![CDATA[AND modified_time<#{modifiedTimeEnd}]]>
      </if>
      <if test="productCode!=null and productCode!=''">
        AND product_code=#{productCode}
      </if>
      <if test="productId!=null">AND product_id=#{productId}</if>
      <if test="productName!=null and productName!=''">
        AND product_name=#{productName}
      </if>
      <if test="quantity!=null">AND quantity=#{quantity}</if>
      <if test="skuCode!=null and skuCode!=''">
        AND sku_code=#{skuCode}
      </if>
      <if test="skuId!=null">AND sku_id=#{skuId}</if>
      <if test="skuName!=null and skuName!=''">
        AND sku_name=#{skuName}
      </if>
    </trim>
  </sql>
  <sql id="orderBy">
    ORDER BY gift_strategy_product_id DESC
  </sql>
  <insert id="insert" parameterType="com.greatonce.oms.domain.marketing.GiftStrategyProduct">
    INSERT INTO oms_gift_strategy_product(created_time,gift_strategy_product_id,gift_strategy_rule_id,is_combination,modified_time,product_code,product_id,product_name,quantity,sku_code,sku_id,sku_name)
    VALUES(
    <trim suffixOverrides=",">
      now(),
      #{giftStrategyProductId},
      #{giftStrategyRuleId},
      #{combination},
      now(),
      #{productCode},
      #{productId},
      #{productName},
      #{quantity},
      #{skuCode},
      #{skuId},
      #{skuName},
    </trim>
    )
  </insert>
  <update id="update" parameterType="com.greatonce.oms.domain.marketing.GiftStrategyProduct">
    UPDATE oms_gift_strategy_product
    <trim prefix="SET" suffixOverrides=",">
      <if test="giftStrategyRuleId!=null">gift_strategy_rule_id=#{giftStrategyRuleId},</if>
      <if test="combination!=null">is_combination=#{combination},</if>
      modified_time=now(),
      <if test="productCode!=null">product_code=#{productCode},</if>
      <if test="productId!=null">product_id=#{productId},</if>
      <if test="productName!=null">product_name=#{productName},</if>
      <if test="quantity!=null">quantity=#{quantity},</if>
      <if test="skuCode!=null">sku_code=#{skuCode},</if>
      <if test="skuId!=null">sku_id=#{skuId},</if>
      <if test="skuName!=null">sku_name=#{skuName},</if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      AND gift_strategy_product_id=#{giftStrategyProductId}
    </trim>
  </update>
  <update id="updateByExample" parameterType="com.greatonce.oms.domain.marketing.GiftStrategyProduct">
    UPDATE oms_gift_strategy_product
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.giftStrategyRuleId!=null">
        gift_strategy_rule_id=#{record.giftStrategyRuleId},
      </if>
      <if test="record.combination!=null">
        is_combination=#{record.combination},
      </if>
      modified_time=now(),
      <if test="record.productCode!=null">
        product_code=#{record.productCode},
      </if>
      <if test="record.productId!=null">
        product_id=#{record.productId},
      </if>
      <if test="record.productName!=null">
        product_name=#{record.productName},
      </if>
      <if test="record.quantity!=null">
        quantity=#{record.quantity},
      </if>
      <if test="record.skuCode!=null">
        sku_code=#{record.skuCode},
      </if>
      <if test="record.skuId!=null">
        sku_id=#{record.skuId},
      </if>
      <if test="record.skuName!=null">
        sku_name=#{record.skuName},
      </if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="example.createdTime!=null">
      AND created_time=#{example.createdTime}
      </if>
      <if test="example.giftStrategyProductId!=null">
      AND gift_strategy_product_id=#{example.giftStrategyProductId}
      </if>
      <if test="example.giftStrategyRuleId!=null">
      AND gift_strategy_rule_id=#{example.giftStrategyRuleId}
      </if>
      <if test="example.combination!=null">
      AND is_combination=#{example.combination}
      </if>
      <if test="example.modifiedTime!=null">
      AND modified_time=#{example.modifiedTime}
      </if>
      <if test="example.productCode!=null">
      AND product_code=#{example.productCode}
      </if>
      <if test="example.productId!=null">
      AND product_id=#{example.productId}
      </if>
      <if test="example.productName!=null">
      AND product_name=#{example.productName}
      </if>
      <if test="example.quantity!=null">
      AND quantity=#{example.quantity}
      </if>
      <if test="example.skuCode!=null">
      AND sku_code=#{example.skuCode}
      </if>
      <if test="example.skuId!=null">
      AND sku_id=#{example.skuId}
      </if>
      <if test="example.skuName!=null">
      AND sku_name=#{example.skuName}
      </if>
    </trim>
  </update>
  <delete id="delete">
    DELETE FROM oms_gift_strategy_product
    <include refid="pkWhere"/>
  </delete>
  <delete id="deleteByExample">
    DELETE FROM oms_gift_strategy_product
    <include refid="equalWhere"/>
  </delete>
  <select id="getByKey" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_gift_strategy_product
    <include refid="pkWhere"/>
  </select>
  <select id="list" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_gift_strategy_product
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPage" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_gift_strategy_product
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_gift_strategy_product
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_gift_strategy_product
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_gift_strategy_product
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_gift_strategy_product
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
</mapper>
