<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greatonce.oms.dao.marketing.MemberMapper">
  <resultMap id="resultMap" type="com.greatonce.oms.domain.marketing.Member">
    <id column="member_id" property="memberId"/>
    <result column="address" property="address"/>
    <result column="city_id" property="cityId"/>
    <result column="city_name" property="cityName"/>
    <result column="contact" property="contact"/>
    <result column="country_id" property="countryId"/>
    <result column="country_name" property="countryName"/>
    <result column="created_time" property="createdTime"/>
    <result column="district_id" property="districtId"/>
    <result column="district_name" property="districtName"/>
    <result column="email" property="email"/>
    <result column="is_urgent" property="urgent"/>
    <result column="member_name" property="memberName"/>
    <result column="mobile" property="mobile"/>
    <result column="modified_time" property="modifiedTime"/>
    <result column="payment_account" property="paymentAccount"/>
    <result column="province_id" property="provinceId"/>
    <result column="province_name" property="provinceName"/>
    <result column="sex" property="sex"/>
    <result column="status" property="status"/>
    <result column="store_id" property="storeId"/>
    <result column="store_name" property="storeName"/>
    <result column="telephone" property="telephone"/>
    <result column="zipcode" property="zipcode"/>
  </resultMap>
  <sql id="columns">address,city_id,city_name,contact,country_id,country_name,created_time,district_id,district_name,email,is_urgent,member_id,member_name,mobile,modified_time,payment_account,province_id,province_name,sex,status,store_id,store_name,telephone,zipcode</sql>
  <sql id="pkWhere">
    WHERE member_id=#{_parameter}
  </sql>
  <sql id="equalWhere">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="address!=null and address!=''">
        AND address=#{address}
      </if>
      <if test="cityId!=null">AND city_id=#{cityId}</if>
      <if test="cityName!=null and cityName!=''">
        AND city_name=#{cityName}
      </if>
      <if test="contact!=null and contact!=''">
        AND contact=#{contact}
      </if>
      <if test="countryId!=null">AND country_id=#{countryId}</if>
      <if test="countryName!=null and countryName!=''">
        AND country_name=#{countryName}
      </if>
      <if test="createdTime!=null">AND created_time=#{createdTime}</if>
      <if test="districtId!=null">AND district_id=#{districtId}</if>
      <if test="districtName!=null and districtName!=''">
        AND district_name=#{districtName}
      </if>
      <if test="email!=null and email!=''">
        AND email=#{email}
      </if>
      <if test="urgent!=null">AND is_urgent=#{urgent}</if>
      <if test="memberId!=null">AND member_id=#{memberId}</if>
      <if test="memberName!=null and memberName!=''">
        AND member_name=#{memberName}
      </if>
      <if test="mobile!=null and mobile!=''">
        AND mobile=#{mobile}
      </if>
      <if test="modifiedTime!=null">AND modified_time=#{modifiedTime}</if>
      <if test="paymentAccount!=null and paymentAccount!=''">
        AND payment_account=#{paymentAccount}
      </if>
      <if test="provinceId!=null">AND province_id=#{provinceId}</if>
      <if test="provinceName!=null and provinceName!=''">
        AND province_name=#{provinceName}
      </if>
      <if test="sex!=null">AND sex=#{sex}</if>
      <if test="status!=null">AND status=#{status}</if>
      <if test="storeId!=null">AND store_id=#{storeId}</if>
      <if test="storeName!=null and storeName!=''">
        AND store_name=#{storeName}
      </if>
      <if test="telephone!=null and telephone!=''">
        AND telephone=#{telephone}
      </if>
      <if test="zipcode!=null and zipcode!=''">
        AND zipcode=#{zipcode}
      </if>
    </trim>
  </sql>
  <sql id="where">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="address!=null and address!=''">
        AND address=#{address}
      </if>
      <if test="cityId!=null">AND city_id=#{cityId}</if>
      <if test="cityName!=null and cityName!=''">
        AND city_name=#{cityName}
      </if>
      <if test="contact!=null and contact!=''">
        AND contact=#{contact}
      </if>
      <if test="contacts!=null and contacts.size>0">
        AND contact IN
        <foreach item="item" index="index" collection="contacts" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="countryId!=null">AND country_id=#{countryId}</if>
      <if test="countryName!=null and countryName!=''">
        AND country_name=#{countryName}
      </if>
      <if test="createdTimeBegin!=null">
        <![CDATA[AND created_time>=#{createdTimeBegin}]]>
      </if>
      <if test="createdTimeEnd!=null">
        <![CDATA[AND created_time<#{createdTimeEnd}]]>
      </if>
      <if test="districtId!=null">AND district_id=#{districtId}</if>
      <if test="districtName!=null and districtName!=''">
        AND district_name=#{districtName}
      </if>
      <if test="email!=null and email!=''">
        AND email=#{email}
      </if>
      <if test="urgent!=null">AND is_urgent=#{urgent}</if>
      <if test="memberId!=null">AND member_id=#{memberId}</if>
      <if test="memberName!=null and memberName!=''">
        AND member_name=#{memberName}
      </if>
      <if test="mobile!=null and mobile!=''">
        AND mobile=#{mobile}
      </if>
      <if test="mobiles!=null and mobiles.size>0">
        AND mobile IN
        <foreach item="item" index="index" collection="mobiles" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="modifiedTimeBegin!=null">
        <![CDATA[AND modified_time>=#{modifiedTimeBegin}]]>
      </if>
      <if test="modifiedTimeEnd!=null">
        <![CDATA[AND modified_time<#{modifiedTimeEnd}]]>
      </if>
      <if test="paymentAccount!=null and paymentAccount!=''">
        AND payment_account=#{paymentAccount}
      </if>
      <if test="provinceId!=null">AND province_id=#{provinceId}</if>
      <if test="provinceName!=null and provinceName!=''">
        AND province_name=#{provinceName}
      </if>
      <if test="sex!=null">AND sex=#{sex}</if>
      <if test="status!=null">AND status=#{status}</if>
      <if test="storeId!=null">AND store_id=#{storeId}</if>
      <if test="storeIds!=null and storeIds.size>0">
        AND store_id IN
        <foreach item="item" index="index" collection="storeIds" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="storeName!=null and storeName!=''">
        AND store_name=#{storeName}
      </if>
      <if test="telephone!=null and telephone!=''">
        AND telephone=#{telephone}
      </if>
      <if test="zipcode!=null and zipcode!=''">
        AND zipcode=#{zipcode}
      </if>
    </trim>
  </sql>
  <sql id="orderBy">
    ORDER BY member_id DESC
  </sql>
  <insert id="insert" parameterType="com.greatonce.oms.domain.marketing.Member">
    INSERT INTO oms_member(address,city_id,city_name,contact,country_id,country_name,created_time,district_id,district_name,email,is_urgent,member_id,member_name,mobile,modified_time,payment_account,province_id,province_name,sex,status,store_id,store_name,telephone,zipcode)
    VALUES(
    <trim suffixOverrides=",">
      #{address},
      #{cityId},
      #{cityName},
      #{contact},
      #{countryId},
      #{countryName},
      now(),
      #{districtId},
      #{districtName},
      #{email},
      #{urgent},
      #{memberId},
      #{memberName},
      #{mobile},
      now(),
      #{paymentAccount},
      #{provinceId},
      #{provinceName},
      #{sex},
      #{status},
      #{storeId},
      #{storeName},
      #{telephone},
      #{zipcode},
    </trim>
    )
  </insert>
  <update id="update" parameterType="com.greatonce.oms.domain.marketing.Member">
    UPDATE oms_member
    <trim prefix="SET" suffixOverrides=",">
      <if test="address!=null">address=#{address},</if>
      <if test="cityId!=null">city_id=#{cityId},</if>
      <if test="cityName!=null">city_name=#{cityName},</if>
      <if test="contact!=null">contact=#{contact},</if>
      <if test="countryId!=null">country_id=#{countryId},</if>
      <if test="countryName!=null">country_name=#{countryName},</if>
      <if test="districtId!=null">district_id=#{districtId},</if>
      <if test="districtName!=null">district_name=#{districtName},</if>
      <if test="email!=null">email=#{email},</if>
      <if test="urgent!=null">is_urgent=#{urgent},</if>
      <if test="memberName!=null">member_name=#{memberName},</if>
      <if test="mobile!=null">mobile=#{mobile},</if>
      modified_time=now(),
      <if test="paymentAccount!=null">payment_account=#{paymentAccount},</if>
      <if test="provinceId!=null">province_id=#{provinceId},</if>
      <if test="provinceName!=null">province_name=#{provinceName},</if>
      <if test="sex!=null">sex=#{sex},</if>
      <if test="status!=null">status=#{status},</if>
      <if test="storeId!=null">store_id=#{storeId},</if>
      <if test="storeName!=null">store_name=#{storeName},</if>
      <if test="telephone!=null">telephone=#{telephone},</if>
      <if test="zipcode!=null">zipcode=#{zipcode},</if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      AND member_id=#{memberId}
    </trim>
  </update>
  <update id="updateByExample" parameterType="com.greatonce.oms.domain.marketing.Member">
    UPDATE oms_member
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.address!=null">
        address=#{record.address},
      </if>
      <if test="record.cityId!=null">
        city_id=#{record.cityId},
      </if>
      <if test="record.cityName!=null">
        city_name=#{record.cityName},
      </if>
      <if test="record.contact!=null">
        contact=#{record.contact},
      </if>
      <if test="record.countryId!=null">
        country_id=#{record.countryId},
      </if>
      <if test="record.countryName!=null">
        country_name=#{record.countryName},
      </if>
      <if test="record.districtId!=null">
        district_id=#{record.districtId},
      </if>
      <if test="record.districtName!=null">
        district_name=#{record.districtName},
      </if>
      <if test="record.email!=null">
        email=#{record.email},
      </if>
      <if test="record.urgent!=null">
        is_urgent=#{record.urgent},
      </if>
      <if test="record.memberName!=null">
        member_name=#{record.memberName},
      </if>
      <if test="record.mobile!=null">
        mobile=#{record.mobile},
      </if>
      modified_time=now(),
      <if test="record.paymentAccount!=null">
        payment_account=#{record.paymentAccount},
      </if>
      <if test="record.provinceId!=null">
        province_id=#{record.provinceId},
      </if>
      <if test="record.provinceName!=null">
        province_name=#{record.provinceName},
      </if>
      <if test="record.sex!=null">
        sex=#{record.sex},
      </if>
      <if test="record.status!=null">
        status=#{record.status},
      </if>
      <if test="record.storeId!=null">
        store_id=#{record.storeId},
      </if>
      <if test="record.storeName!=null">
        store_name=#{record.storeName},
      </if>
      <if test="record.telephone!=null">
        telephone=#{record.telephone},
      </if>
      <if test="record.zipcode!=null">
        zipcode=#{record.zipcode},
      </if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="example.address!=null">
      AND address=#{example.address}
      </if>
      <if test="example.cityId!=null">
      AND city_id=#{example.cityId}
      </if>
      <if test="example.cityName!=null">
      AND city_name=#{example.cityName}
      </if>
      <if test="example.contact!=null">
      AND contact=#{example.contact}
      </if>
      <if test="example.contacts!=null">
      AND contact=#{example.contacts}
      </if>
      <if test="example.countryId!=null">
      AND country_id=#{example.countryId}
      </if>
      <if test="example.countryName!=null">
      AND country_name=#{example.countryName}
      </if>
      <if test="example.createdTime!=null">
      AND created_time=#{example.createdTime}
      </if>
      <if test="example.districtId!=null">
      AND district_id=#{example.districtId}
      </if>
      <if test="example.districtName!=null">
      AND district_name=#{example.districtName}
      </if>
      <if test="example.email!=null">
      AND email=#{example.email}
      </if>
      <if test="example.urgent!=null">
      AND is_urgent=#{example.urgent}
      </if>
      <if test="example.memberId!=null">
      AND member_id=#{example.memberId}
      </if>
      <if test="example.memberName!=null">
      AND member_name=#{example.memberName}
      </if>
      <if test="example.mobile!=null">
      AND mobile=#{example.mobile}
      </if>
      <if test="example.mobiles!=null">
      AND mobile=#{example.mobiles}
      </if>
      <if test="example.modifiedTime!=null">
      AND modified_time=#{example.modifiedTime}
      </if>
      <if test="example.paymentAccount!=null">
      AND payment_account=#{example.paymentAccount}
      </if>
      <if test="example.provinceId!=null">
      AND province_id=#{example.provinceId}
      </if>
      <if test="example.provinceName!=null">
      AND province_name=#{example.provinceName}
      </if>
      <if test="example.sex!=null">
      AND sex=#{example.sex}
      </if>
      <if test="example.status!=null">
      AND status=#{example.status}
      </if>
      <if test="example.storeId!=null">
      AND store_id=#{example.storeId}
      </if>
      <if test="example.storeIds!=null">
      AND store_id=#{example.storeIds}
      </if>
      <if test="example.storeName!=null">
      AND store_name=#{example.storeName}
      </if>
      <if test="example.telephone!=null">
      AND telephone=#{example.telephone}
      </if>
      <if test="example.zipcode!=null">
      AND zipcode=#{example.zipcode}
      </if>
    </trim>
  </update>
  <delete id="delete">
    DELETE FROM oms_member
    <include refid="pkWhere"/>
  </delete>
  <delete id="deleteByExample">
    DELETE FROM oms_member
    <include refid="equalWhere"/>
  </delete>
  <select id="getByKey" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_member
    <include refid="pkWhere"/>
  </select>
  <select id="list" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_member
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPage" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_member
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_member
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_member
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_member
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_member
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
</mapper>
