<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <property name="log_file" value="log/consumer.log"/>
  <property name="log_file_pattern" value="log/consumer.%d{yyyy-MM-dd}.%i.log"/>
  <property name="es_url" value="http://114.55.15.205:30002/_bulk"/>
  <include resource="com/greatonce/oms/util/logging/base.xml"/>
  <logger name="com.greatonce.oms" level="info" additivity="true">
    <appender-ref ref="oms_sys"/>
    <appender-ref ref="file_out"/>
  </logger>
  <logger name="com.greatonce.oms.bridge.mall.impl.taobao.cloudpush.mappers" level="info"
    additivity="true">
    <appender-ref ref="sql_file_out"/>
  </logger>
  <logger name="com.greatonce.oms.dao" level="info" additivity="true">
    <appender-ref ref="sql_file_out"/>
  </logger>
  <logger name="oms.biz.logging" level="info" additivity="true">
    <appender-ref ref="oms_biz"/>
  </logger>
  <logger name="oms.service.logging.stock.mall.upload" level="info" additivity="true">
    <appender-ref ref="oms_stock_mall_upload"/>
  </logger>
  <logger name="oms.service.logging.stock.track" level="info" additivity="true">
    <appender-ref ref="oms_stock_track"/>
  </logger>
  <logger name="oms.service.logging.stock.sync" level="info" additivity="true">
    <appender-ref ref="oms_stock_sync"/>
  </logger>
  <logger name="oms.service.logging.product.mall.mapping" level="info" additivity="true">
    <appender-ref ref="oms_product_mall_mapping"/>
  </logger>
  <logger name="oms.service.logging.translate.order" level="info" additivity="true">
    <appender-ref ref="oms_translate_order"/>
  </logger>
  <logger name="oms.service.logging.translate.refund" level="info" additivity="true">
    <appender-ref ref="oms_translate_refund"/>
  </logger>
  <logger name="oms.service.logging.translate.exchange" level="info" additivity="true">
    <appender-ref ref="oms_translate_exchange"/>
  </logger>
  <logger name="oms.service.logging.dispatch" level="info" additivity="true">
    <appender-ref ref="oms_dispatch"/>
  </logger>
  <logger name="oms.service.logging.wms" level="info" additivity="true">
    <appender-ref ref="oms_wms"/>
  </logger>
  <logger name="oms.service.logging.mall" level="info" additivity="true">
    <appender-ref ref="oms_mall"/>
  </logger>
</configuration>