<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greatonce.oms.dao.vip.VipReturnDetailMapper">
  <select id="listCanNotice" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_vip_return_detail
    WHERE vip_return_id=#{_parameter}
    <![CDATA[AND notice_quantity<scan_quantity]]>
  </select>
</mapper>
