<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greatonce.oms.dao.purchase.PurchaseReturnOrderDetailMapper">
  <select id="listAvailable" resultMap="resultMap">
    SELECT
           purchase_return_detail.purchase_return_order_detail_id,
           purchase_return_detail.sku_id,
           purchase_return_detail.sku_code,
           purchase_return_detail.plan_quantity,
           IFNULL( stock.quantity, 0 ) - SUM( IFNULL( stock_occupancy.quantity, 0 ) ) notice_quantity
    FROM
         oms_purchase_return_order purchase_return
           JOIN oms_purchase_return_order_detail purchase_return_detail ON purchase_return.purchase_return_order_id = purchase_return_detail.purchase_return_order_id
           LEFT JOIN oms_stock stock ON purchase_return_detail.sku_id = stock.sku_id
                                          AND purchase_return.virtual_warehouse_id = stock.virtual_warehouse_id
           LEFT JOIN oms_stock_occupancy stock_occupancy ON stock.sku_id = stock_occupancy.sku_id
                                                              AND stock.virtual_warehouse_id = stock_occupancy.virtual_warehouse_id
                                                              AND stock_occupancy.STATUS = 2
    WHERE
      purchase_return.purchase_return_order_id = #{_parameter}
    GROUP BY
             purchase_return_detail.sku_id,
             purchase_return_detail.sku_code,
             purchase_return_detail.plan_quantity
  </select>
  <select id="listSaleable" resultMap="resultMap">
    SELECT
           purchase_return_detail.purchase_return_order_detail_id,
           purchase_return_detail.sku_id,
           purchase_return_detail.sku_code,
           purchase_return_detail.plan_quantity,
           IFNULL( stock.quantity, 0 ) - SUM( IFNULL( stock_occupancy.quantity, 0 ) ) notice_quantity
    FROM
         oms_purchase_return_order purchase_return
           JOIN oms_purchase_return_order_detail purchase_return_detail ON purchase_return.purchase_return_order_id = purchase_return_detail.purchase_return_order_id
           LEFT JOIN oms_stock stock ON purchase_return_detail.sku_id = stock.sku_id
                                          AND purchase_return.virtual_warehouse_id = stock.virtual_warehouse_id
           LEFT JOIN oms_stock_occupancy stock_occupancy ON stock.sku_id = stock_occupancy.sku_id
                                                              AND stock.virtual_warehouse_id = stock_occupancy.virtual_warehouse_id
                                                              AND stock_occupancy.STATUS IN ( 2, 3 )
    WHERE
      purchase_return.purchase_return_order_id = #{_parameter}
    GROUP BY
             purchase_return_detail.sku_id,
             purchase_return_detail.sku_code,
             purchase_return_detail.plan_quantity
  </select>
</mapper>
