<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greatonce.oms.dao.stock.StockInOrderMapper">
  <resultMap id="resultMap" type="com.greatonce.oms.domain.stock.StockInOrder">
    <id column="stock_in_order_id" property="stockInOrderId"/>
    <result column="address" property="address"/>
    <result column="audited_time" property="auditedTime"/>
    <result column="auditor" property="auditor"/>
    <result column="city_id" property="cityId"/>
    <result column="city_name" property="cityName"/>
    <result column="contact" property="contact"/>
    <result column="country_id" property="countryId"/>
    <result column="country_name" property="countryName"/>
    <result column="created_time" property="createdTime"/>
    <result column="creator" property="creator"/>
    <result column="district_id" property="districtId"/>
    <result column="district_name" property="districtName"/>
    <result column="from_code" property="fromCode"/>
    <result column="in_status" property="inStatus"/>
    <result column="last_in_time" property="lastInTime"/>
    <result column="mobile" property="mobile"/>
    <result column="modified_time" property="modifiedTime"/>
    <result column="outer_code" property="outerCode"/>
    <result column="province_id" property="provinceId"/>
    <result column="province_name" property="provinceName"/>
    <result column="remark" property="remark"/>
    <result column="status" property="status"/>
    <result column="stock_in_order_code" property="stockInOrderCode"/>
    <result column="stock_in_order_type" property="stockInOrderType"/>
    <result column="telephone" property="telephone"/>
    <result column="version" property="version"/>
    <result column="virtual_warehouse_id" property="virtualWarehouseId"/>
    <result column="virtual_warehouse_name" property="virtualWarehouseName"/>
    <result column="warehouse_id" property="warehouseId"/>
    <result column="warehouse_name" property="warehouseName"/>
  </resultMap>
  <sql id="columns">address,audited_time,auditor,city_id,city_name,contact,country_id,country_name,created_time,creator,district_id,district_name,from_code,in_status,last_in_time,mobile,modified_time,outer_code,province_id,province_name,remark,status,stock_in_order_code,stock_in_order_id,stock_in_order_type,telephone,version,virtual_warehouse_id,virtual_warehouse_name,warehouse_id,warehouse_name</sql>
  <sql id="pkWhere">
    WHERE stock_in_order_id=#{_parameter}
  </sql>
  <sql id="equalWhere">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="address!=null and address!=''">
        AND address=#{address}
      </if>
      <if test="auditedTime!=null">AND audited_time=#{auditedTime}</if>
      <if test="auditor!=null and auditor!=''">
        AND auditor=#{auditor}
      </if>
      <if test="cityId!=null">AND city_id=#{cityId}</if>
      <if test="cityName!=null and cityName!=''">
        AND city_name=#{cityName}
      </if>
      <if test="contact!=null and contact!=''">
        AND contact=#{contact}
      </if>
      <if test="countryId!=null">AND country_id=#{countryId}</if>
      <if test="countryName!=null and countryName!=''">
        AND country_name=#{countryName}
      </if>
      <if test="createdTime!=null">AND created_time=#{createdTime}</if>
      <if test="creator!=null and creator!=''">
        AND creator=#{creator}
      </if>
      <if test="districtId!=null">AND district_id=#{districtId}</if>
      <if test="districtName!=null and districtName!=''">
        AND district_name=#{districtName}
      </if>
      <if test="fromCode!=null and fromCode!=''">
        AND from_code=#{fromCode}
      </if>
      <if test="inStatus!=null">AND in_status=#{inStatus}</if>
      <if test="lastInTime!=null">AND last_in_time=#{lastInTime}</if>
      <if test="mobile!=null and mobile!=''">
        AND mobile=#{mobile}
      </if>
      <if test="modifiedTime!=null">AND modified_time=#{modifiedTime}</if>
      <if test="outerCode!=null and outerCode!=''">
        AND outer_code=#{outerCode}
      </if>
      <if test="provinceId!=null">AND province_id=#{provinceId}</if>
      <if test="provinceName!=null and provinceName!=''">
        AND province_name=#{provinceName}
      </if>
      <if test="remark!=null and remark!=''">
        AND remark=#{remark}
      </if>
      <if test="status!=null">AND status=#{status}</if>
      <if test="stockInOrderCode!=null and stockInOrderCode!=''">
        AND stock_in_order_code=#{stockInOrderCode}
      </if>
      <if test="stockInOrderId!=null">AND stock_in_order_id=#{stockInOrderId}</if>
      <if test="stockInOrderType!=null and stockInOrderType!=''">
        AND stock_in_order_type=#{stockInOrderType}
      </if>
      <if test="telephone!=null and telephone!=''">
        AND telephone=#{telephone}
      </if>
      <if test="version!=null">AND version=#{version}</if>
      <if test="virtualWarehouseId!=null">AND virtual_warehouse_id=#{virtualWarehouseId}</if>
      <if test="virtualWarehouseName!=null and virtualWarehouseName!=''">
        AND virtual_warehouse_name=#{virtualWarehouseName}
      </if>
      <if test="warehouseId!=null">AND warehouse_id=#{warehouseId}</if>
      <if test="warehouseName!=null and warehouseName!=''">
        AND warehouse_name=#{warehouseName}
      </if>
    </trim>
  </sql>
  <sql id="where">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="address!=null and address!=''">
        AND address=#{address}
      </if>
      <if test="auditedTimeBegin!=null">
        <![CDATA[AND audited_time>=#{auditedTimeBegin}]]>
      </if>
      <if test="auditedTimeEnd!=null">
        <![CDATA[AND audited_time<#{auditedTimeEnd}]]>
      </if>
      <if test="auditor!=null and auditor!=''">
        AND auditor=#{auditor}
      </if>
      <if test="cityId!=null">AND city_id=#{cityId}</if>
      <if test="cityName!=null and cityName!=''">
        AND city_name=#{cityName}
      </if>
      <if test="contact!=null and contact!=''">
        AND contact=#{contact}
      </if>
      <if test="countryId!=null">AND country_id=#{countryId}</if>
      <if test="countryName!=null and countryName!=''">
        AND country_name=#{countryName}
      </if>
      <if test="createdTimeBegin!=null">
        <![CDATA[AND created_time>=#{createdTimeBegin}]]>
      </if>
      <if test="createdTimeEnd!=null">
        <![CDATA[AND created_time<#{createdTimeEnd}]]>
      </if>
      <if test="creator!=null and creator!=''">
        AND creator=#{creator}
      </if>
      <if test="districtId!=null">AND district_id=#{districtId}</if>
      <if test="districtName!=null and districtName!=''">
        AND district_name=#{districtName}
      </if>
      <if test="fromCode!=null and fromCode!=''">
        AND from_code=#{fromCode}
      </if>
      <if test="fromCodes!=null and fromCodes.size>0">
        AND from_code IN
        <foreach item="item" index="index" collection="fromCodes" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="inStatus!=null">AND in_status=#{inStatus}</if>
      <if test="inStatuses!=null and inStatuses.size>0">
        AND in_status IN
        <foreach item="item" index="index" collection="inStatuses" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="lastInTimeBegin!=null">
        <![CDATA[AND last_in_time>=#{lastInTimeBegin}]]>
      </if>
      <if test="lastInTimeEnd!=null">
        <![CDATA[AND last_in_time<#{lastInTimeEnd}]]>
      </if>
      <if test="mobile!=null and mobile!=''">
        AND mobile=#{mobile}
      </if>
      <if test="modifiedTimeBegin!=null">
        <![CDATA[AND modified_time>=#{modifiedTimeBegin}]]>
      </if>
      <if test="modifiedTimeEnd!=null">
        <![CDATA[AND modified_time<#{modifiedTimeEnd}]]>
      </if>
      <if test="outerCode!=null and outerCode!=''">
        AND outer_code=#{outerCode}
      </if>
      <if test="outerCodes!=null and outerCodes.size>0">
        AND outer_code IN
        <foreach item="item" index="index" collection="outerCodes" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="provinceId!=null">AND province_id=#{provinceId}</if>
      <if test="provinceName!=null and provinceName!=''">
        AND province_name=#{provinceName}
      </if>
      <if test="remark!=null and remark!=''">
        AND remark=#{remark}
      </if>
      <if test="status!=null">AND status=#{status}</if>
      <if test="statuses!=null and statuses.size>0">
        AND status IN
        <foreach item="item" index="index" collection="statuses" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="stockInOrderCode!=null and stockInOrderCode!=''">
        AND stock_in_order_code=#{stockInOrderCode}
      </if>
      <if test="stockInOrderCodes!=null and stockInOrderCodes.size>0">
        AND stock_in_order_code IN
        <foreach item="item" index="index" collection="stockInOrderCodes" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="stockInOrderId!=null">AND stock_in_order_id=#{stockInOrderId}</if>
      <if test="stockInOrderType!=null and stockInOrderType!=''">
        AND stock_in_order_type=#{stockInOrderType}
      </if>
      <if test="telephone!=null and telephone!=''">
        AND telephone=#{telephone}
      </if>
      <if test="version!=null">AND version=#{version}</if>
      <if test="virtualWarehouseId!=null">AND virtual_warehouse_id=#{virtualWarehouseId}</if>
      <if test="virtualWarehouseName!=null and virtualWarehouseName!=''">
        AND virtual_warehouse_name=#{virtualWarehouseName}
      </if>
      <if test="warehouseId!=null">AND warehouse_id=#{warehouseId}</if>
      <if test="warehouseName!=null and warehouseName!=''">
        AND warehouse_name=#{warehouseName}
      </if>
    </trim>
  </sql>
  <sql id="orderBy">
    ORDER BY stock_in_order_id DESC
  </sql>
  <insert id="insert" parameterType="com.greatonce.oms.domain.stock.StockInOrder">
    INSERT INTO oms_stock_in_order(address,audited_time,auditor,city_id,city_name,contact,country_id,country_name,created_time,creator,district_id,district_name,from_code,in_status,last_in_time,mobile,modified_time,outer_code,province_id,province_name,remark,status,stock_in_order_code,stock_in_order_id,stock_in_order_type,telephone,version,virtual_warehouse_id,virtual_warehouse_name,warehouse_id,warehouse_name)
    VALUES(
    <trim suffixOverrides=",">
      #{address},
      #{auditedTime},
      #{auditor},
      #{cityId},
      #{cityName},
      #{contact},
      #{countryId},
      #{countryName},
      now(),
      #{creator},
      #{districtId},
      #{districtName},
      #{fromCode},
      #{inStatus},
      #{lastInTime},
      #{mobile},
      now(),
      #{outerCode},
      #{provinceId},
      #{provinceName},
      #{remark},
      #{status},
      #{stockInOrderCode},
      #{stockInOrderId},
      #{stockInOrderType},
      #{telephone},
      1,
      #{virtualWarehouseId},
      #{virtualWarehouseName},
      #{warehouseId},
      #{warehouseName},
    </trim>
    )
  </insert>
  <update id="update" parameterType="com.greatonce.oms.domain.stock.StockInOrder">
    UPDATE oms_stock_in_order
    <trim prefix="SET" suffixOverrides=",">
      <if test="address!=null">address=#{address},</if>
      <if test="auditedTime!=null">audited_time=#{auditedTime},</if>
      <if test="auditor!=null">auditor=#{auditor},</if>
      <if test="cityId!=null">city_id=#{cityId},</if>
      <if test="cityName!=null">city_name=#{cityName},</if>
      <if test="contact!=null">contact=#{contact},</if>
      <if test="countryId!=null">country_id=#{countryId},</if>
      <if test="countryName!=null">country_name=#{countryName},</if>
      <if test="creator!=null">creator=#{creator},</if>
      <if test="districtId!=null">district_id=#{districtId},</if>
      <if test="districtName!=null">district_name=#{districtName},</if>
      <if test="fromCode!=null">from_code=#{fromCode},</if>
      <if test="inStatus!=null">in_status=#{inStatus},</if>
      <if test="lastInTime!=null">last_in_time=#{lastInTime},</if>
      <if test="mobile!=null">mobile=#{mobile},</if>
      modified_time=now(),
      <if test="outerCode!=null">outer_code=#{outerCode},</if>
      <if test="provinceId!=null">province_id=#{provinceId},</if>
      <if test="provinceName!=null">province_name=#{provinceName},</if>
      <if test="remark!=null">remark=#{remark},</if>
      <if test="status!=null">status=#{status},</if>
      <if test="stockInOrderCode!=null">stock_in_order_code=#{stockInOrderCode},</if>
      <if test="stockInOrderType!=null">stock_in_order_type=#{stockInOrderType},</if>
      <if test="telephone!=null">telephone=#{telephone},</if>
      <if test="version!=null">version=#{version}+1,</if>
      <if test="virtualWarehouseId!=null">virtual_warehouse_id=#{virtualWarehouseId},</if>
      <if test="virtualWarehouseName!=null">virtual_warehouse_name=#{virtualWarehouseName},</if>
      <if test="warehouseId!=null">warehouse_id=#{warehouseId},</if>
      <if test="warehouseName!=null">warehouse_name=#{warehouseName},</if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      AND stock_in_order_id=#{stockInOrderId}
      AND version=#{version}
    </trim>
  </update>
  <update id="updateByExample" parameterType="com.greatonce.oms.domain.stock.StockInOrder">
    UPDATE oms_stock_in_order
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.address!=null">
        address=#{record.address},
      </if>
      <if test="record.auditedTime!=null">
        audited_time=#{record.auditedTime},
      </if>
      <if test="record.auditor!=null">
        auditor=#{record.auditor},
      </if>
      <if test="record.cityId!=null">
        city_id=#{record.cityId},
      </if>
      <if test="record.cityName!=null">
        city_name=#{record.cityName},
      </if>
      <if test="record.contact!=null">
        contact=#{record.contact},
      </if>
      <if test="record.countryId!=null">
        country_id=#{record.countryId},
      </if>
      <if test="record.countryName!=null">
        country_name=#{record.countryName},
      </if>
      <if test="record.creator!=null">
        creator=#{record.creator},
      </if>
      <if test="record.districtId!=null">
        district_id=#{record.districtId},
      </if>
      <if test="record.districtName!=null">
        district_name=#{record.districtName},
      </if>
      <if test="record.fromCode!=null">
        from_code=#{record.fromCode},
      </if>
      <if test="record.inStatus!=null">
        in_status=#{record.inStatus},
      </if>
      <if test="record.lastInTime!=null">
        last_in_time=#{record.lastInTime},
      </if>
      <if test="record.mobile!=null">
        mobile=#{record.mobile},
      </if>
      modified_time=now(),
      <if test="record.outerCode!=null">
        outer_code=#{record.outerCode},
      </if>
      <if test="record.provinceId!=null">
        province_id=#{record.provinceId},
      </if>
      <if test="record.provinceName!=null">
        province_name=#{record.provinceName},
      </if>
      <if test="record.remark!=null">
        remark=#{record.remark},
      </if>
      <if test="record.status!=null">
        status=#{record.status},
      </if>
      <if test="record.stockInOrderCode!=null">
        stock_in_order_code=#{record.stockInOrderCode},
      </if>
      <if test="record.stockInOrderType!=null">
        stock_in_order_type=#{record.stockInOrderType},
      </if>
      <if test="record.telephone!=null">
        telephone=#{record.telephone},
      </if>
      <if test="record.version!=null">
        version=#{record.version}+1,
      </if>
      <if test="record.virtualWarehouseId!=null">
        virtual_warehouse_id=#{record.virtualWarehouseId},
      </if>
      <if test="record.virtualWarehouseName!=null">
        virtual_warehouse_name=#{record.virtualWarehouseName},
      </if>
      <if test="record.warehouseId!=null">
        warehouse_id=#{record.warehouseId},
      </if>
      <if test="record.warehouseName!=null">
        warehouse_name=#{record.warehouseName},
      </if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="example.address!=null">
      AND address=#{example.address}
      </if>
      <if test="example.auditedTime!=null">
      AND audited_time=#{example.auditedTime}
      </if>
      <if test="example.auditor!=null">
      AND auditor=#{example.auditor}
      </if>
      <if test="example.cityId!=null">
      AND city_id=#{example.cityId}
      </if>
      <if test="example.cityName!=null">
      AND city_name=#{example.cityName}
      </if>
      <if test="example.contact!=null">
      AND contact=#{example.contact}
      </if>
      <if test="example.countryId!=null">
      AND country_id=#{example.countryId}
      </if>
      <if test="example.countryName!=null">
      AND country_name=#{example.countryName}
      </if>
      <if test="example.createdTime!=null">
      AND created_time=#{example.createdTime}
      </if>
      <if test="example.creator!=null">
      AND creator=#{example.creator}
      </if>
      <if test="example.districtId!=null">
      AND district_id=#{example.districtId}
      </if>
      <if test="example.districtName!=null">
      AND district_name=#{example.districtName}
      </if>
      <if test="example.fromCode!=null">
      AND from_code=#{example.fromCode}
      </if>
      <if test="example.fromCodes!=null">
      AND from_code=#{example.fromCodes}
      </if>
      <if test="example.inStatus!=null">
      AND in_status=#{example.inStatus}
      </if>
      <if test="example.inStatuses!=null">
      AND in_status=#{example.inStatuses}
      </if>
      <if test="example.lastInTime!=null">
      AND last_in_time=#{example.lastInTime}
      </if>
      <if test="example.mobile!=null">
      AND mobile=#{example.mobile}
      </if>
      <if test="example.modifiedTime!=null">
      AND modified_time=#{example.modifiedTime}
      </if>
      <if test="example.outerCode!=null">
      AND outer_code=#{example.outerCode}
      </if>
      <if test="example.outerCodes!=null">
      AND outer_code=#{example.outerCodes}
      </if>
      <if test="example.provinceId!=null">
      AND province_id=#{example.provinceId}
      </if>
      <if test="example.provinceName!=null">
      AND province_name=#{example.provinceName}
      </if>
      <if test="example.remark!=null">
      AND remark=#{example.remark}
      </if>
      <if test="example.status!=null">
      AND status=#{example.status}
      </if>
      <if test="example.statuses!=null">
      AND status=#{example.statuses}
      </if>
      <if test="example.stockInOrderCode!=null">
      AND stock_in_order_code=#{example.stockInOrderCode}
      </if>
      <if test="example.stockInOrderCodes!=null">
      AND stock_in_order_code=#{example.stockInOrderCodes}
      </if>
      <if test="example.stockInOrderId!=null">
      AND stock_in_order_id=#{example.stockInOrderId}
      </if>
      <if test="example.stockInOrderType!=null">
      AND stock_in_order_type=#{example.stockInOrderType}
      </if>
      <if test="example.telephone!=null">
      AND telephone=#{example.telephone}
      </if>
      AND version=#{example.version}
      <if test="example.virtualWarehouseId!=null">
      AND virtual_warehouse_id=#{example.virtualWarehouseId}
      </if>
      <if test="example.virtualWarehouseName!=null">
      AND virtual_warehouse_name=#{example.virtualWarehouseName}
      </if>
      <if test="example.warehouseId!=null">
      AND warehouse_id=#{example.warehouseId}
      </if>
      <if test="example.warehouseName!=null">
      AND warehouse_name=#{example.warehouseName}
      </if>
    </trim>
  </update>
  <delete id="delete">
    DELETE FROM oms_stock_in_order
    <include refid="pkWhere"/>
  </delete>
  <delete id="deleteByExample">
    DELETE FROM oms_stock_in_order
    <include refid="equalWhere"/>
  </delete>
  <select id="getByKey" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_stock_in_order
    <include refid="pkWhere"/>
  </select>
  <select id="list" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_stock_in_order
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPage" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_stock_in_order
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_stock_in_order
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_stock_in_order
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_stock_in_order
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_stock_in_order
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
</mapper>
