<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greatonce.oms.dao.stock.StockMapper">
  <resultMap id="resultMap" type="com.greatonce.oms.domain.stock.Stock">
    <id column="stock_id" property="stockId"/>
    <result column="created_time" property="createdTime"/>
    <result column="modified_time" property="modifiedTime"/>
    <result column="quantity" property="quantity"/>
    <result column="ratio" property="ratio"/>
    <result column="remark" property="remark"/>
    <result column="sku_code" property="skuCode"/>
    <result column="sku_id" property="skuId"/>
    <result column="transit_quantity" property="transitQuantity"/>
    <result column="virtual_warehouse_id" property="virtualWarehouseId"/>
    <result column="virtual_warehouse_name" property="virtualWarehouseName"/>
    <result column="warehouse_id" property="warehouseId"/>
    <result column="warehouse_name" property="warehouseName"/>
  </resultMap>
  <sql id="columns">created_time,modified_time,quantity,ratio,remark,sku_code,sku_id,stock_id,transit_quantity,virtual_warehouse_id,virtual_warehouse_name,warehouse_id,warehouse_name</sql>
  <sql id="pkWhere">
    WHERE stock_id=#{_parameter}
  </sql>
  <sql id="equalWhere">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="createdTime!=null">AND created_time=#{createdTime}</if>
      <if test="modifiedTime!=null">AND modified_time=#{modifiedTime}</if>
      <if test="quantity!=null">AND quantity=#{quantity}</if>
      <if test="ratio!=null">AND ratio=#{ratio}</if>
      <if test="remark!=null and remark!=''">
        AND remark=#{remark}
      </if>
      <if test="skuCode!=null and skuCode!=''">
        AND sku_code=#{skuCode}
      </if>
      <if test="skuId!=null">AND sku_id=#{skuId}</if>
      <if test="stockId!=null">AND stock_id=#{stockId}</if>
      <if test="transitQuantity!=null">AND transit_quantity=#{transitQuantity}</if>
      <if test="virtualWarehouseId!=null">AND virtual_warehouse_id=#{virtualWarehouseId}</if>
      <if test="virtualWarehouseName!=null and virtualWarehouseName!=''">
        AND virtual_warehouse_name=#{virtualWarehouseName}
      </if>
      <if test="warehouseId!=null">AND warehouse_id=#{warehouseId}</if>
      <if test="warehouseName!=null and warehouseName!=''">
        AND warehouse_name=#{warehouseName}
      </if>
    </trim>
  </sql>
  <sql id="where">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="createdTimeBegin!=null">
        <![CDATA[AND created_time>=#{createdTimeBegin}]]>
      </if>
      <if test="createdTimeEnd!=null">
        <![CDATA[AND created_time<#{createdTimeEnd}]]>
      </if>
      <if test="modifiedTimeBegin!=null">
        <![CDATA[AND modified_time>=#{modifiedTimeBegin}]]>
      </if>
      <if test="modifiedTimeEnd!=null">
        <![CDATA[AND modified_time<#{modifiedTimeEnd}]]>
      </if>
      <if test="quantity!=null">AND quantity=#{quantity}</if>
      <if test="ratio!=null">AND ratio=#{ratio}</if>
      <if test="remark!=null and remark!=''">
        AND remark=#{remark}
      </if>
      <if test="skuCode!=null and skuCode!=''">
        AND sku_code=#{skuCode}
      </if>
      <if test="skuId!=null">AND sku_id=#{skuId}</if>
      <if test="skuIds!=null and skuIds.size>0">
        AND sku_id IN
        <foreach item="item" index="index" collection="skuIds" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="stockId!=null">AND stock_id=#{stockId}</if>
      <if test="transitQuantity!=null">AND transit_quantity=#{transitQuantity}</if>
      <if test="virtualWarehouseId!=null">AND virtual_warehouse_id=#{virtualWarehouseId}</if>
      <if test="virtualWarehouseIds!=null and virtualWarehouseIds.size>0">
        AND virtual_warehouse_id IN
        <foreach item="item" index="index" collection="virtualWarehouseIds" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="virtualWarehouseName!=null and virtualWarehouseName!=''">
        AND virtual_warehouse_name=#{virtualWarehouseName}
      </if>
      <if test="warehouseId!=null">AND warehouse_id=#{warehouseId}</if>
      <if test="warehouseName!=null and warehouseName!=''">
        AND warehouse_name=#{warehouseName}
      </if>
    </trim>
  </sql>
  <sql id="orderBy">
    ORDER BY stock_id DESC
  </sql>
  <insert id="insert" parameterType="com.greatonce.oms.domain.stock.Stock">
    INSERT INTO oms_stock(created_time,modified_time,quantity,ratio,remark,sku_code,sku_id,stock_id,transit_quantity,virtual_warehouse_id,virtual_warehouse_name,warehouse_id,warehouse_name)
    VALUES(
    <trim suffixOverrides=",">
      now(),
      now(),
      #{quantity},
      #{ratio},
      #{remark},
      #{skuCode},
      #{skuId},
      #{stockId},
      #{transitQuantity},
      #{virtualWarehouseId},
      #{virtualWarehouseName},
      #{warehouseId},
      #{warehouseName},
    </trim>
    )
  </insert>
  <update id="update" parameterType="com.greatonce.oms.domain.stock.Stock">
    UPDATE oms_stock
    <trim prefix="SET" suffixOverrides=",">
      modified_time=now(),
      <if test="quantity!=null">quantity=#{quantity},</if>
      <if test="ratio!=null">ratio=#{ratio},</if>
      <if test="remark!=null">remark=#{remark},</if>
      <if test="skuCode!=null">sku_code=#{skuCode},</if>
      <if test="skuId!=null">sku_id=#{skuId},</if>
      <if test="transitQuantity!=null">transit_quantity=#{transitQuantity},</if>
      <if test="virtualWarehouseId!=null">virtual_warehouse_id=#{virtualWarehouseId},</if>
      <if test="virtualWarehouseName!=null">virtual_warehouse_name=#{virtualWarehouseName},</if>
      <if test="warehouseId!=null">warehouse_id=#{warehouseId},</if>
      <if test="warehouseName!=null">warehouse_name=#{warehouseName},</if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      AND stock_id=#{stockId}
    </trim>
  </update>
  <update id="updateByExample" parameterType="com.greatonce.oms.domain.stock.Stock">
    UPDATE oms_stock
    <trim prefix="SET" suffixOverrides=",">
      modified_time=now(),
      <if test="record.quantity!=null">
        quantity=#{record.quantity},
      </if>
      <if test="record.ratio!=null">
        ratio=#{record.ratio},
      </if>
      <if test="record.remark!=null">
        remark=#{record.remark},
      </if>
      <if test="record.skuCode!=null">
        sku_code=#{record.skuCode},
      </if>
      <if test="record.skuId!=null">
        sku_id=#{record.skuId},
      </if>
      <if test="record.transitQuantity!=null">
        transit_quantity=#{record.transitQuantity},
      </if>
      <if test="record.virtualWarehouseId!=null">
        virtual_warehouse_id=#{record.virtualWarehouseId},
      </if>
      <if test="record.virtualWarehouseName!=null">
        virtual_warehouse_name=#{record.virtualWarehouseName},
      </if>
      <if test="record.warehouseId!=null">
        warehouse_id=#{record.warehouseId},
      </if>
      <if test="record.warehouseName!=null">
        warehouse_name=#{record.warehouseName},
      </if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="example.createdTime!=null">
      AND created_time=#{example.createdTime}
      </if>
      <if test="example.modifiedTime!=null">
      AND modified_time=#{example.modifiedTime}
      </if>
      <if test="example.quantity!=null">
      AND quantity=#{example.quantity}
      </if>
      <if test="example.ratio!=null">
      AND ratio=#{example.ratio}
      </if>
      <if test="example.remark!=null">
      AND remark=#{example.remark}
      </if>
      <if test="example.skuCode!=null">
      AND sku_code=#{example.skuCode}
      </if>
      <if test="example.skuId!=null">
      AND sku_id=#{example.skuId}
      </if>
      <if test="example.skuIds!=null">
      AND sku_id=#{example.skuIds}
      </if>
      <if test="example.stockId!=null">
      AND stock_id=#{example.stockId}
      </if>
      <if test="example.transitQuantity!=null">
      AND transit_quantity=#{example.transitQuantity}
      </if>
      <if test="example.virtualWarehouseId!=null">
      AND virtual_warehouse_id=#{example.virtualWarehouseId}
      </if>
      <if test="example.virtualWarehouseIds!=null">
      AND virtual_warehouse_id=#{example.virtualWarehouseIds}
      </if>
      <if test="example.virtualWarehouseName!=null">
      AND virtual_warehouse_name=#{example.virtualWarehouseName}
      </if>
      <if test="example.warehouseId!=null">
      AND warehouse_id=#{example.warehouseId}
      </if>
      <if test="example.warehouseName!=null">
      AND warehouse_name=#{example.warehouseName}
      </if>
    </trim>
  </update>
  <delete id="delete">
    DELETE FROM oms_stock
    <include refid="pkWhere"/>
  </delete>
  <delete id="deleteByExample">
    DELETE FROM oms_stock
    <include refid="equalWhere"/>
  </delete>
  <select id="getByKey" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_stock
    <include refid="pkWhere"/>
  </select>
  <select id="list" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_stock
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPage" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_stock
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_stock
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_stock
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_stock
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_stock
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
</mapper>
