<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greatonce.oms.dao.product.ProductMapper">
  <resultMap id="resultMap" type="com.greatonce.oms.domain.product.Product">
    <id column="product_id" property="productId"/>
    <result column="attributes_json" property="attributesJson"/>
    <result column="barcode" property="barcode"/>
    <result column="brand_code" property="brandCode"/>
    <result column="brand_name" property="brandName"/>
    <result column="company_id" property="companyId"/>
    <result column="company_name" property="companyName"/>
    <result column="created_time" property="createdTime"/>
    <result column="image_url" property="imageUrl"/>
    <result column="is_enable" property="enable"/>
    <result column="is_gift" property="gift"/>
    <result column="is_single_delivery" property="singleDelivery"/>
    <result column="is_system" property="system"/>
    <result column="listing_date" property="listingDate"/>
    <result column="listing_year" property="listingYear"/>
    <result column="modified_time" property="modifiedTime"/>
    <result column="product_category_id" property="productCategoryId"/>
    <result column="product_category_name" property="productCategoryName"/>
    <result column="product_code" property="productCode"/>
    <result column="product_name" property="productName"/>
    <result column="product_short_name" property="productShortName"/>
    <result column="product_sync_status" property="productSyncStatus"/>
    <result column="product_type" property="productType"/>
    <result column="season" property="season"/>
    <result column="supplier_id" property="supplierId"/>
    <result column="supplier_name" property="supplierName"/>
    <result column="unit" property="unit"/>
    <result column="warranty_period" property="warrantyPeriod"/>
    <result column="waveband" property="waveband"/>
  </resultMap>
  <sql id="columns">attributes_json,barcode,brand_code,brand_name,company_id,company_name,created_time,image_url,is_enable,is_gift,is_single_delivery,is_system,listing_date,listing_year,modified_time,product_category_id,product_category_name,product_code,product_id,product_name,product_short_name,product_sync_status,product_type,season,supplier_id,supplier_name,unit,warranty_period,waveband</sql>
  <sql id="pkWhere">
    WHERE product_id=#{_parameter}
  </sql>
  <sql id="equalWhere">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="attributesJson!=null and attributesJson!=''">
        AND attributes_json=#{attributesJson}
      </if>
      <if test="barcode!=null and barcode!=''">
        AND barcode=#{barcode}
      </if>
      <if test="brandCode!=null and brandCode!=''">
        AND brand_code=#{brandCode}
      </if>
      <if test="brandName!=null and brandName!=''">
        AND brand_name=#{brandName}
      </if>
      <if test="companyId!=null">AND company_id=#{companyId}</if>
      <if test="companyName!=null and companyName!=''">
        AND company_name=#{companyName}
      </if>
      <if test="createdTime!=null">AND created_time=#{createdTime}</if>
      <if test="imageUrl!=null and imageUrl!=''">
        AND image_url=#{imageUrl}
      </if>
      <if test="enable!=null">AND is_enable=#{enable}</if>
      <if test="gift!=null">AND is_gift=#{gift}</if>
      <if test="singleDelivery!=null">AND is_single_delivery=#{singleDelivery}</if>
      <if test="system!=null">AND is_system=#{system}</if>
      <if test="listingDate!=null">AND listing_date=#{listingDate}</if>
      <if test="listingYear!=null and listingYear!=''">
        AND listing_year=#{listingYear}
      </if>
      <if test="modifiedTime!=null">AND modified_time=#{modifiedTime}</if>
      <if test="productCategoryId!=null">AND product_category_id=#{productCategoryId}</if>
      <if test="productCategoryName!=null and productCategoryName!=''">
        AND product_category_name=#{productCategoryName}
      </if>
      <if test="productCode!=null and productCode!=''">
        AND product_code=#{productCode}
      </if>
      <if test="productId!=null">AND product_id=#{productId}</if>
      <if test="productName!=null and productName!=''">
        AND product_name=#{productName}
      </if>
      <if test="productShortName!=null and productShortName!=''">
        AND product_short_name=#{productShortName}
      </if>
      <if test="productSyncStatus!=null">AND product_sync_status=#{productSyncStatus}</if>
      <if test="productType!=null">AND product_type=#{productType}</if>
      <if test="season!=null and season!=''">
        AND season=#{season}
      </if>
      <if test="supplierId!=null">AND supplier_id=#{supplierId}</if>
      <if test="supplierName!=null and supplierName!=''">
        AND supplier_name=#{supplierName}
      </if>
      <if test="unit!=null and unit!=''">
        AND unit=#{unit}
      </if>
      <if test="warrantyPeriod!=null">AND warranty_period=#{warrantyPeriod}</if>
      <if test="waveband!=null and waveband!=''">
        AND waveband=#{waveband}
      </if>
    </trim>
  </sql>
  <sql id="where">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="attributesJson!=null and attributesJson!=''">
        AND attributes_json=#{attributesJson}
      </if>
      <if test="barcode!=null and barcode!=''">
        AND barcode=#{barcode}
      </if>
      <if test="barcodes!=null and barcodes.size>0">
        AND barcode IN
        <foreach item="item" index="index" collection="barcodes" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="brandCode!=null and brandCode!=''">
        AND brand_code=#{brandCode}
      </if>
      <if test="brandName!=null and brandName!=''">
        AND brand_name=#{brandName}
      </if>
      <if test="companyId!=null">AND company_id=#{companyId}</if>
      <if test="companyName!=null and companyName!=''">
        AND company_name=#{companyName}
      </if>
      <if test="createdTimeBegin!=null">
        <![CDATA[AND created_time>=#{createdTimeBegin}]]>
      </if>
      <if test="createdTimeEnd!=null">
        <![CDATA[AND created_time<#{createdTimeEnd}]]>
      </if>
      <if test="imageUrl!=null and imageUrl!=''">
        AND image_url=#{imageUrl}
      </if>
      <if test="enable!=null">AND is_enable=#{enable}</if>
      <if test="gift!=null">AND is_gift=#{gift}</if>
      <if test="singleDelivery!=null">AND is_single_delivery=#{singleDelivery}</if>
      <if test="system!=null">AND is_system=#{system}</if>
      <if test="listingDateBegin!=null">
        <![CDATA[AND listing_date>=#{listingDateBegin}]]>
      </if>
      <if test="listingDateEnd!=null">
        <![CDATA[AND listing_date<#{listingDateEnd}]]>
      </if>
      <if test="listingYear!=null and listingYear!=''">
        AND listing_year=#{listingYear}
      </if>
      <if test="modifiedTimeBegin!=null">
        <![CDATA[AND modified_time>=#{modifiedTimeBegin}]]>
      </if>
      <if test="modifiedTimeEnd!=null">
        <![CDATA[AND modified_time<#{modifiedTimeEnd}]]>
      </if>
      <if test="productCategoryId!=null">AND product_category_id=#{productCategoryId}</if>
      <if test="productCategoryName!=null and productCategoryName!=''">
        AND product_category_name=#{productCategoryName}
      </if>
      <if test="productCode!=null and productCode!=''">
        AND product_code=#{productCode}
      </if>
      <if test="productCodes!=null and productCodes.size>0">
        AND product_code IN
        <foreach item="item" index="index" collection="productCodes" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="productId!=null">AND product_id=#{productId}</if>
      <if test="productIds!=null and productIds.size>0">
        AND product_id IN
        <foreach item="item" index="index" collection="productIds" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="productName!=null and productName!=''">
        <bind name="productName_like" value="_parameter.productName+'%'"/>
        AND product_name like #{productName_like}
      </if>
      <if test="productShortName!=null and productShortName!=''">
        AND product_short_name=#{productShortName}
      </if>
      <if test="productSyncStatus!=null">AND product_sync_status=#{productSyncStatus}</if>
      <if test="productType!=null">AND product_type=#{productType}</if>
      <if test="season!=null and season!=''">
        AND season=#{season}
      </if>
      <if test="supplierId!=null">AND supplier_id=#{supplierId}</if>
      <if test="supplierName!=null and supplierName!=''">
        AND supplier_name=#{supplierName}
      </if>
      <if test="unit!=null and unit!=''">
        AND unit=#{unit}
      </if>
      <if test="warrantyPeriod!=null">AND warranty_period=#{warrantyPeriod}</if>
      <if test="waveband!=null and waveband!=''">
        AND waveband=#{waveband}
      </if>
    </trim>
  </sql>
  <sql id="orderBy">
    ORDER BY product_id DESC
  </sql>
  <insert id="insert" parameterType="com.greatonce.oms.domain.product.Product">
    INSERT INTO oms_product(attributes_json,barcode,brand_code,brand_name,company_id,company_name,created_time,image_url,is_enable,is_gift,is_single_delivery,is_system,listing_date,listing_year,modified_time,product_category_id,product_category_name,product_code,product_id,product_name,product_short_name,product_sync_status,product_type,season,supplier_id,supplier_name,unit,warranty_period,waveband)
    VALUES(
    <trim suffixOverrides=",">
      #{attributesJson},
      #{barcode},
      #{brandCode},
      #{brandName},
      #{companyId},
      #{companyName},
      now(),
      #{imageUrl},
      #{enable},
      #{gift},
      #{singleDelivery},
      #{system},
      #{listingDate},
      #{listingYear},
      now(),
      #{productCategoryId},
      #{productCategoryName},
      #{productCode},
      #{productId},
      #{productName},
      #{productShortName},
      #{productSyncStatus},
      #{productType},
      #{season},
      #{supplierId},
      #{supplierName},
      #{unit},
      #{warrantyPeriod},
      #{waveband},
    </trim>
    )
  </insert>
  <update id="update" parameterType="com.greatonce.oms.domain.product.Product">
    UPDATE oms_product
    <trim prefix="SET" suffixOverrides=",">
      <if test="attributesJson!=null">attributes_json=#{attributesJson},</if>
      <if test="barcode!=null">barcode=#{barcode},</if>
      <if test="brandCode!=null">brand_code=#{brandCode},</if>
      <if test="brandName!=null">brand_name=#{brandName},</if>
      <if test="companyId!=null">company_id=#{companyId},</if>
      <if test="companyName!=null">company_name=#{companyName},</if>
      <if test="imageUrl!=null">image_url=#{imageUrl},</if>
      <if test="enable!=null">is_enable=#{enable},</if>
      <if test="gift!=null">is_gift=#{gift},</if>
      <if test="singleDelivery!=null">is_single_delivery=#{singleDelivery},</if>
      <if test="system!=null">is_system=#{system},</if>
      <if test="listingDate!=null">listing_date=#{listingDate},</if>
      <if test="listingYear!=null">listing_year=#{listingYear},</if>
      modified_time=now(),
      <if test="productCategoryId!=null">product_category_id=#{productCategoryId},</if>
      <if test="productCategoryName!=null">product_category_name=#{productCategoryName},</if>
      <if test="productCode!=null">product_code=#{productCode},</if>
      <if test="productName!=null">product_name=#{productName},</if>
      <if test="productShortName!=null">product_short_name=#{productShortName},</if>
      <if test="productSyncStatus!=null">product_sync_status=#{productSyncStatus},</if>
      <if test="productType!=null">product_type=#{productType},</if>
      <if test="season!=null">season=#{season},</if>
      <if test="supplierId!=null">supplier_id=#{supplierId},</if>
      <if test="supplierName!=null">supplier_name=#{supplierName},</if>
      <if test="unit!=null">unit=#{unit},</if>
      <if test="warrantyPeriod!=null">warranty_period=#{warrantyPeriod},</if>
      <if test="waveband!=null">waveband=#{waveband},</if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      AND product_id=#{productId}
    </trim>
  </update>
  <update id="updateByExample" parameterType="com.greatonce.oms.domain.product.Product">
    UPDATE oms_product
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.attributesJson!=null">
        attributes_json=#{record.attributesJson},
      </if>
      <if test="record.barcode!=null">
        barcode=#{record.barcode},
      </if>
      <if test="record.brandCode!=null">
        brand_code=#{record.brandCode},
      </if>
      <if test="record.brandName!=null">
        brand_name=#{record.brandName},
      </if>
      <if test="record.companyId!=null">
        company_id=#{record.companyId},
      </if>
      <if test="record.companyName!=null">
        company_name=#{record.companyName},
      </if>
      <if test="record.imageUrl!=null">
        image_url=#{record.imageUrl},
      </if>
      <if test="record.enable!=null">
        is_enable=#{record.enable},
      </if>
      <if test="record.gift!=null">
        is_gift=#{record.gift},
      </if>
      <if test="record.singleDelivery!=null">
        is_single_delivery=#{record.singleDelivery},
      </if>
      <if test="record.system!=null">
        is_system=#{record.system},
      </if>
      <if test="record.listingDate!=null">
        listing_date=#{record.listingDate},
      </if>
      <if test="record.listingYear!=null">
        listing_year=#{record.listingYear},
      </if>
      modified_time=now(),
      <if test="record.productCategoryId!=null">
        product_category_id=#{record.productCategoryId},
      </if>
      <if test="record.productCategoryName!=null">
        product_category_name=#{record.productCategoryName},
      </if>
      <if test="record.productCode!=null">
        product_code=#{record.productCode},
      </if>
      <if test="record.productName!=null">
        product_name=#{record.productName},
      </if>
      <if test="record.productShortName!=null">
        product_short_name=#{record.productShortName},
      </if>
      <if test="record.productSyncStatus!=null">
        product_sync_status=#{record.productSyncStatus},
      </if>
      <if test="record.productType!=null">
        product_type=#{record.productType},
      </if>
      <if test="record.season!=null">
        season=#{record.season},
      </if>
      <if test="record.supplierId!=null">
        supplier_id=#{record.supplierId},
      </if>
      <if test="record.supplierName!=null">
        supplier_name=#{record.supplierName},
      </if>
      <if test="record.unit!=null">
        unit=#{record.unit},
      </if>
      <if test="record.warrantyPeriod!=null">
        warranty_period=#{record.warrantyPeriod},
      </if>
      <if test="record.waveband!=null">
        waveband=#{record.waveband},
      </if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="example.attributesJson!=null">
      AND attributes_json=#{example.attributesJson}
      </if>
      <if test="example.barcode!=null">
      AND barcode=#{example.barcode}
      </if>
      <if test="example.barcodes!=null">
      AND barcode=#{example.barcodes}
      </if>
      <if test="example.brandCode!=null">
      AND brand_code=#{example.brandCode}
      </if>
      <if test="example.brandName!=null">
      AND brand_name=#{example.brandName}
      </if>
      <if test="example.companyId!=null">
      AND company_id=#{example.companyId}
      </if>
      <if test="example.companyName!=null">
      AND company_name=#{example.companyName}
      </if>
      <if test="example.createdTime!=null">
      AND created_time=#{example.createdTime}
      </if>
      <if test="example.imageUrl!=null">
      AND image_url=#{example.imageUrl}
      </if>
      <if test="example.enable!=null">
      AND is_enable=#{example.enable}
      </if>
      <if test="example.gift!=null">
      AND is_gift=#{example.gift}
      </if>
      <if test="example.singleDelivery!=null">
      AND is_single_delivery=#{example.singleDelivery}
      </if>
      <if test="example.system!=null">
      AND is_system=#{example.system}
      </if>
      <if test="example.listingDate!=null">
      AND listing_date=#{example.listingDate}
      </if>
      <if test="example.listingYear!=null">
      AND listing_year=#{example.listingYear}
      </if>
      <if test="example.modifiedTime!=null">
      AND modified_time=#{example.modifiedTime}
      </if>
      <if test="example.productCategoryId!=null">
      AND product_category_id=#{example.productCategoryId}
      </if>
      <if test="example.productCategoryName!=null">
      AND product_category_name=#{example.productCategoryName}
      </if>
      <if test="example.productCode!=null">
      AND product_code=#{example.productCode}
      </if>
      <if test="example.productCodes!=null">
      AND product_code=#{example.productCodes}
      </if>
      <if test="example.productId!=null">
      AND product_id=#{example.productId}
      </if>
      <if test="example.productIds!=null">
      AND product_id=#{example.productIds}
      </if>
      <if test="example.productName!=null">
      AND product_name=#{example.productName}
      </if>
      <if test="example.productShortName!=null">
      AND product_short_name=#{example.productShortName}
      </if>
      <if test="example.productSyncStatus!=null">
      AND product_sync_status=#{example.productSyncStatus}
      </if>
      <if test="example.productType!=null">
      AND product_type=#{example.productType}
      </if>
      <if test="example.season!=null">
      AND season=#{example.season}
      </if>
      <if test="example.supplierId!=null">
      AND supplier_id=#{example.supplierId}
      </if>
      <if test="example.supplierName!=null">
      AND supplier_name=#{example.supplierName}
      </if>
      <if test="example.unit!=null">
      AND unit=#{example.unit}
      </if>
      <if test="example.warrantyPeriod!=null">
      AND warranty_period=#{example.warrantyPeriod}
      </if>
      <if test="example.waveband!=null">
      AND waveband=#{example.waveband}
      </if>
    </trim>
  </update>
  <delete id="delete">
    DELETE FROM oms_product
    <include refid="pkWhere"/>
  </delete>
  <delete id="deleteByExample">
    DELETE FROM oms_product
    <include refid="equalWhere"/>
  </delete>
  <select id="getByKey" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_product
    <include refid="pkWhere"/>
  </select>
  <select id="list" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_product
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPage" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_product
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_product
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_product
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_product
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_product
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
</mapper>
