<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greatonce.oms.dao.trade.RefundOrderDetailMapper">
  <resultMap id="resultMap" type="com.greatonce.oms.domain.trade.RefundOrderDetail">
    <id column="refund_order_detail_id" property="refundOrderDetailId"/>
    <result column="actual_amount" property="actualAmount"/>
    <result column="created_time" property="createdTime"/>
    <result column="modified_time" property="modifiedTime"/>
    <result column="product_code" property="productCode"/>
    <result column="product_id" property="productId"/>
    <result column="product_name" property="productName"/>
    <result column="quantity" property="quantity"/>
    <result column="refund_order_id" property="refundOrderId"/>
    <result column="refundable_amount" property="refundableAmount"/>
    <result column="return_order_detail_id" property="returnOrderDetailId"/>
    <result column="return_order_id" property="returnOrderId"/>
    <result column="sku_code" property="skuCode"/>
    <result column="sku_id" property="skuId"/>
    <result column="sku_name" property="skuName"/>
  </resultMap>
  <sql id="columns">actual_amount,created_time,modified_time,product_code,product_id,product_name,quantity,refund_order_detail_id,refund_order_id,refundable_amount,return_order_detail_id,return_order_id,sku_code,sku_id,sku_name</sql>
  <sql id="pkWhere">
    WHERE refund_order_detail_id=#{_parameter}
  </sql>
  <sql id="equalWhere">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="actualAmount!=null">AND actual_amount=#{actualAmount}</if>
      <if test="createdTime!=null">AND created_time=#{createdTime}</if>
      <if test="modifiedTime!=null">AND modified_time=#{modifiedTime}</if>
      <if test="productCode!=null and productCode!=''">
        AND product_code=#{productCode}
      </if>
      <if test="productId!=null">AND product_id=#{productId}</if>
      <if test="productName!=null and productName!=''">
        AND product_name=#{productName}
      </if>
      <if test="quantity!=null">AND quantity=#{quantity}</if>
      <if test="refundOrderDetailId!=null">AND refund_order_detail_id=#{refundOrderDetailId}</if>
      <if test="refundOrderId!=null">AND refund_order_id=#{refundOrderId}</if>
      <if test="refundableAmount!=null">AND refundable_amount=#{refundableAmount}</if>
      <if test="returnOrderDetailId!=null">AND return_order_detail_id=#{returnOrderDetailId}</if>
      <if test="returnOrderId!=null">AND return_order_id=#{returnOrderId}</if>
      <if test="skuCode!=null and skuCode!=''">
        AND sku_code=#{skuCode}
      </if>
      <if test="skuId!=null">AND sku_id=#{skuId}</if>
      <if test="skuName!=null and skuName!=''">
        AND sku_name=#{skuName}
      </if>
    </trim>
  </sql>
  <sql id="where">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="actualAmount!=null">AND actual_amount=#{actualAmount}</if>
      <if test="createdTimeBegin!=null">
        <![CDATA[AND created_time>=#{createdTimeBegin}]]>
      </if>
      <if test="createdTimeEnd!=null">
        <![CDATA[AND created_time<#{createdTimeEnd}]]>
      </if>
      <if test="modifiedTimeBegin!=null">
        <![CDATA[AND modified_time>=#{modifiedTimeBegin}]]>
      </if>
      <if test="modifiedTimeEnd!=null">
        <![CDATA[AND modified_time<#{modifiedTimeEnd}]]>
      </if>
      <if test="productCode!=null and productCode!=''">
        AND product_code=#{productCode}
      </if>
      <if test="productId!=null">AND product_id=#{productId}</if>
      <if test="productName!=null and productName!=''">
        AND product_name=#{productName}
      </if>
      <if test="quantity!=null">AND quantity=#{quantity}</if>
      <if test="refundOrderDetailId!=null">AND refund_order_detail_id=#{refundOrderDetailId}</if>
      <if test="refundOrderId!=null">AND refund_order_id=#{refundOrderId}</if>
      <if test="refundableAmount!=null">AND refundable_amount=#{refundableAmount}</if>
      <if test="returnOrderDetailId!=null">AND return_order_detail_id=#{returnOrderDetailId}</if>
      <if test="returnOrderId!=null">AND return_order_id=#{returnOrderId}</if>
      <if test="skuCode!=null and skuCode!=''">
        AND sku_code=#{skuCode}
      </if>
      <if test="skuId!=null">AND sku_id=#{skuId}</if>
      <if test="skuName!=null and skuName!=''">
        AND sku_name=#{skuName}
      </if>
    </trim>
  </sql>
  <sql id="orderBy">
    ORDER BY refund_order_detail_id DESC
  </sql>
  <insert id="insert" parameterType="com.greatonce.oms.domain.trade.RefundOrderDetail">
    INSERT INTO oms_refund_order_detail(actual_amount,created_time,modified_time,product_code,product_id,product_name,quantity,refund_order_detail_id,refund_order_id,refundable_amount,return_order_detail_id,return_order_id,sku_code,sku_id,sku_name)
    VALUES(
    <trim suffixOverrides=",">
      #{actualAmount},
      now(),
      now(),
      #{productCode},
      #{productId},
      #{productName},
      #{quantity},
      #{refundOrderDetailId},
      #{refundOrderId},
      #{refundableAmount},
      #{returnOrderDetailId},
      #{returnOrderId},
      #{skuCode},
      #{skuId},
      #{skuName},
    </trim>
    )
  </insert>
  <update id="update" parameterType="com.greatonce.oms.domain.trade.RefundOrderDetail">
    UPDATE oms_refund_order_detail
    <trim prefix="SET" suffixOverrides=",">
      <if test="actualAmount!=null">actual_amount=#{actualAmount},</if>
      modified_time=now(),
      <if test="productCode!=null">product_code=#{productCode},</if>
      <if test="productId!=null">product_id=#{productId},</if>
      <if test="productName!=null">product_name=#{productName},</if>
      <if test="quantity!=null">quantity=#{quantity},</if>
      <if test="refundOrderId!=null">refund_order_id=#{refundOrderId},</if>
      <if test="refundableAmount!=null">refundable_amount=#{refundableAmount},</if>
      <if test="returnOrderDetailId!=null">return_order_detail_id=#{returnOrderDetailId},</if>
      <if test="returnOrderId!=null">return_order_id=#{returnOrderId},</if>
      <if test="skuCode!=null">sku_code=#{skuCode},</if>
      <if test="skuId!=null">sku_id=#{skuId},</if>
      <if test="skuName!=null">sku_name=#{skuName},</if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      AND refund_order_detail_id=#{refundOrderDetailId}
    </trim>
  </update>
  <update id="updateByExample" parameterType="com.greatonce.oms.domain.trade.RefundOrderDetail">
    UPDATE oms_refund_order_detail
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.actualAmount!=null">
        actual_amount=#{record.actualAmount},
      </if>
      modified_time=now(),
      <if test="record.productCode!=null">
        product_code=#{record.productCode},
      </if>
      <if test="record.productId!=null">
        product_id=#{record.productId},
      </if>
      <if test="record.productName!=null">
        product_name=#{record.productName},
      </if>
      <if test="record.quantity!=null">
        quantity=#{record.quantity},
      </if>
      <if test="record.refundOrderId!=null">
        refund_order_id=#{record.refundOrderId},
      </if>
      <if test="record.refundableAmount!=null">
        refundable_amount=#{record.refundableAmount},
      </if>
      <if test="record.returnOrderDetailId!=null">
        return_order_detail_id=#{record.returnOrderDetailId},
      </if>
      <if test="record.returnOrderId!=null">
        return_order_id=#{record.returnOrderId},
      </if>
      <if test="record.skuCode!=null">
        sku_code=#{record.skuCode},
      </if>
      <if test="record.skuId!=null">
        sku_id=#{record.skuId},
      </if>
      <if test="record.skuName!=null">
        sku_name=#{record.skuName},
      </if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="example.actualAmount!=null">
      AND actual_amount=#{example.actualAmount}
      </if>
      <if test="example.createdTime!=null">
      AND created_time=#{example.createdTime}
      </if>
      <if test="example.modifiedTime!=null">
      AND modified_time=#{example.modifiedTime}
      </if>
      <if test="example.productCode!=null">
      AND product_code=#{example.productCode}
      </if>
      <if test="example.productId!=null">
      AND product_id=#{example.productId}
      </if>
      <if test="example.productName!=null">
      AND product_name=#{example.productName}
      </if>
      <if test="example.quantity!=null">
      AND quantity=#{example.quantity}
      </if>
      <if test="example.refundOrderDetailId!=null">
      AND refund_order_detail_id=#{example.refundOrderDetailId}
      </if>
      <if test="example.refundOrderId!=null">
      AND refund_order_id=#{example.refundOrderId}
      </if>
      <if test="example.refundableAmount!=null">
      AND refundable_amount=#{example.refundableAmount}
      </if>
      <if test="example.returnOrderDetailId!=null">
      AND return_order_detail_id=#{example.returnOrderDetailId}
      </if>
      <if test="example.returnOrderId!=null">
      AND return_order_id=#{example.returnOrderId}
      </if>
      <if test="example.skuCode!=null">
      AND sku_code=#{example.skuCode}
      </if>
      <if test="example.skuId!=null">
      AND sku_id=#{example.skuId}
      </if>
      <if test="example.skuName!=null">
      AND sku_name=#{example.skuName}
      </if>
    </trim>
  </update>
  <delete id="delete">
    DELETE FROM oms_refund_order_detail
    <include refid="pkWhere"/>
  </delete>
  <delete id="deleteByExample">
    DELETE FROM oms_refund_order_detail
    <include refid="equalWhere"/>
  </delete>
  <select id="getByKey" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_refund_order_detail
    <include refid="pkWhere"/>
  </select>
  <select id="list" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_refund_order_detail
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPage" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_refund_order_detail
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_refund_order_detail
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_refund_order_detail
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_refund_order_detail
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_refund_order_detail
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
</mapper>
