<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greatonce.oms.dao.trade.ReturnSignMapper">
  <resultMap id="resultMap" type="com.greatonce.oms.domain.trade.ReturnSign">
    <id column="return_sign_id" property="returnSignId"/>
    <result column="audited_time" property="auditedTime"/>
    <result column="auditor" property="auditor"/>
    <result column="created_time" property="createdTime"/>
    <result column="creator" property="creator"/>
    <result column="express_id" property="expressId"/>
    <result column="express_name" property="expressName"/>
    <result column="express_no" property="expressNo"/>
    <result column="modified_time" property="modifiedTime"/>
    <result column="remark" property="remark"/>
    <result column="status" property="status"/>
    <result column="version" property="version"/>
    <result column="weight" property="weight"/>
  </resultMap>
  <sql id="columns">audited_time,auditor,created_time,creator,express_id,express_name,express_no,modified_time,remark,return_sign_id,status,version,weight</sql>
  <sql id="pkWhere">
    WHERE return_sign_id=#{_parameter}
  </sql>
  <sql id="equalWhere">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="auditedTime!=null">AND audited_time=#{auditedTime}</if>
      <if test="auditor!=null and auditor!=''">
        AND auditor=#{auditor}
      </if>
      <if test="createdTime!=null">AND created_time=#{createdTime}</if>
      <if test="creator!=null and creator!=''">
        AND creator=#{creator}
      </if>
      <if test="expressId!=null">AND express_id=#{expressId}</if>
      <if test="expressName!=null and expressName!=''">
        AND express_name=#{expressName}
      </if>
      <if test="expressNo!=null and expressNo!=''">
        AND express_no=#{expressNo}
      </if>
      <if test="modifiedTime!=null">AND modified_time=#{modifiedTime}</if>
      <if test="remark!=null and remark!=''">
        AND remark=#{remark}
      </if>
      <if test="returnSignId!=null">AND return_sign_id=#{returnSignId}</if>
      <if test="status!=null">AND status=#{status}</if>
      <if test="version!=null">AND version=#{version}</if>
      <if test="weight!=null">AND weight=#{weight}</if>
    </trim>
  </sql>
  <sql id="where">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="auditedTimeBegin!=null">
        <![CDATA[AND audited_time>=#{auditedTimeBegin}]]>
      </if>
      <if test="auditedTimeEnd!=null">
        <![CDATA[AND audited_time<#{auditedTimeEnd}]]>
      </if>
      <if test="auditor!=null and auditor!=''">
        AND auditor=#{auditor}
      </if>
      <if test="createdTimeBegin!=null">
        <![CDATA[AND created_time>=#{createdTimeBegin}]]>
      </if>
      <if test="createdTimeEnd!=null">
        <![CDATA[AND created_time<#{createdTimeEnd}]]>
      </if>
      <if test="creator!=null and creator!=''">
        AND creator=#{creator}
      </if>
      <if test="expressId!=null">AND express_id=#{expressId}</if>
      <if test="expressName!=null and expressName!=''">
        AND express_name=#{expressName}
      </if>
      <if test="expressNo!=null and expressNo!=''">
        AND express_no=#{expressNo}
      </if>
      <if test="expressNos!=null and expressNos.size>0">
        AND express_no IN
        <foreach item="item" index="index" collection="expressNos" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="modifiedTimeBegin!=null">
        <![CDATA[AND modified_time>=#{modifiedTimeBegin}]]>
      </if>
      <if test="modifiedTimeEnd!=null">
        <![CDATA[AND modified_time<#{modifiedTimeEnd}]]>
      </if>
      <if test="remark!=null and remark!=''">
        AND remark=#{remark}
      </if>
      <if test="returnSignId!=null">AND return_sign_id=#{returnSignId}</if>
      <if test="status!=null">AND status=#{status}</if>
      <if test="statuses!=null and statuses.size>0">
        AND status IN
        <foreach item="item" index="index" collection="statuses" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="version!=null">AND version=#{version}</if>
      <if test="weight!=null">AND weight=#{weight}</if>
    </trim>
  </sql>
  <sql id="orderBy">
    ORDER BY return_sign_id DESC
  </sql>
  <insert id="insert" parameterType="com.greatonce.oms.domain.trade.ReturnSign">
    INSERT INTO oms_return_sign(audited_time,auditor,created_time,creator,express_id,express_name,express_no,modified_time,remark,return_sign_id,status,version,weight)
    VALUES(
    <trim suffixOverrides=",">
      #{auditedTime},
      #{auditor},
      now(),
      #{creator},
      #{expressId},
      #{expressName},
      #{expressNo},
      now(),
      #{remark},
      #{returnSignId},
      #{status},
      1,
      #{weight},
    </trim>
    )
  </insert>
  <update id="update" parameterType="com.greatonce.oms.domain.trade.ReturnSign">
    UPDATE oms_return_sign
    <trim prefix="SET" suffixOverrides=",">
      <if test="auditedTime!=null">audited_time=#{auditedTime},</if>
      <if test="auditor!=null">auditor=#{auditor},</if>
      <if test="creator!=null">creator=#{creator},</if>
      <if test="expressId!=null">express_id=#{expressId},</if>
      <if test="expressName!=null">express_name=#{expressName},</if>
      <if test="expressNo!=null">express_no=#{expressNo},</if>
      modified_time=now(),
      <if test="remark!=null">remark=#{remark},</if>
      <if test="status!=null">status=#{status},</if>
      <if test="version!=null">version=#{version}+1,</if>
      <if test="weight!=null">weight=#{weight},</if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      AND return_sign_id=#{returnSignId}
      AND version=#{version}
    </trim>
  </update>
  <update id="updateByExample" parameterType="com.greatonce.oms.domain.trade.ReturnSign">
    UPDATE oms_return_sign
    <trim prefix="SET" suffixOverrides=",">
      <if test="record.auditedTime!=null">
        audited_time=#{record.auditedTime},
      </if>
      <if test="record.auditor!=null">
        auditor=#{record.auditor},
      </if>
      <if test="record.creator!=null">
        creator=#{record.creator},
      </if>
      <if test="record.expressId!=null">
        express_id=#{record.expressId},
      </if>
      <if test="record.expressName!=null">
        express_name=#{record.expressName},
      </if>
      <if test="record.expressNo!=null">
        express_no=#{record.expressNo},
      </if>
      modified_time=now(),
      <if test="record.remark!=null">
        remark=#{record.remark},
      </if>
      <if test="record.status!=null">
        status=#{record.status},
      </if>
      <if test="record.version!=null">
        version=#{record.version}+1,
      </if>
      <if test="record.weight!=null">
        weight=#{record.weight},
      </if>
    </trim>
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="example.auditedTime!=null">
      AND audited_time=#{example.auditedTime}
      </if>
      <if test="example.auditor!=null">
      AND auditor=#{example.auditor}
      </if>
      <if test="example.createdTime!=null">
      AND created_time=#{example.createdTime}
      </if>
      <if test="example.creator!=null">
      AND creator=#{example.creator}
      </if>
      <if test="example.expressId!=null">
      AND express_id=#{example.expressId}
      </if>
      <if test="example.expressName!=null">
      AND express_name=#{example.expressName}
      </if>
      <if test="example.expressNo!=null">
      AND express_no=#{example.expressNo}
      </if>
      <if test="example.expressNos!=null">
      AND express_no=#{example.expressNos}
      </if>
      <if test="example.modifiedTime!=null">
      AND modified_time=#{example.modifiedTime}
      </if>
      <if test="example.remark!=null">
      AND remark=#{example.remark}
      </if>
      <if test="example.returnSignId!=null">
      AND return_sign_id=#{example.returnSignId}
      </if>
      <if test="example.status!=null">
      AND status=#{example.status}
      </if>
      <if test="example.statuses!=null">
      AND status=#{example.statuses}
      </if>
      AND version=#{example.version}
      <if test="example.weight!=null">
      AND weight=#{example.weight}
      </if>
    </trim>
  </update>
  <delete id="delete">
    DELETE FROM oms_return_sign
    <include refid="pkWhere"/>
  </delete>
  <delete id="deleteByExample">
    DELETE FROM oms_return_sign
    <include refid="equalWhere"/>
  </delete>
  <select id="getByKey" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_return_sign
    <include refid="pkWhere"/>
  </select>
  <select id="list" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_return_sign
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPage" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_return_sign
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_return_sign
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageByExample" resultMap="resultMap">
    SELECT
    <include refid="columns"/>
    FROM oms_return_sign
    <include refid="equalWhere"/>
    <include refid="orderBy"/>
  </select>
  <select id="listField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_return_sign
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
  <select id="listPageField" resultMap="resultMap">
    SELECT ${systemQueryFields}
    FROM oms_return_sign
    <include refid="where"/>
    <include refid="orderBy"/>
  </select>
</mapper>
