<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greatonce.oms.dao.base.DepartmentMapper">
    <select id="countDepartments" resultType="int">
        SELECT count(*) FROM  oms_department where company_id=#{companyId}
    </select>
</mapper>