<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greatonce.oms.dao.base.RoleMapper">
    <sql id="whereLike">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="createdTimeBegin!=null">
                <![CDATA[AND created_time>=#{createdTimeBegin}]]>
            </if>
            <if test="createdTimeEnd!=null">
                <![CDATA[AND created_time<#{createdTimeEnd}]]>
            </if>
            <if test="modifiedTimeBegin!=null">
                <![CDATA[AND modified_time>=#{modifiedTimeBegin}]]>
            </if>
            <if test="modifiedTimeEnd!=null">
                <![CDATA[AND modified_time<#{modifiedTimeEnd}]]>
            </if>
            <if test="remark!=null and remark!=''">AND remark=#{remark}</if>
            <if test="roleId!=null">AND role_id=#{roleId}</if>
            <if test="roleName!=null and roleName!=''">
                AND role_name Like #{roleName}"%"</if>
        </trim>
    </sql>

    <select id="listPageLike" resultMap="resultMap">
        SELECT
        <include refid="columns"/>
        FROM oms_role
        <include refid="whereLike"/>
        ORDER BY role_id DESC
    </select>
</mapper>
